

.gitignore
.uwsgi.workers
TODO.txt
kill_djangopeople_fcgi.sh
kungfupeople.local_googlemaps_api.key
localhost_googlemaps_api.key
README-nginx.txt
local_settings.py
.venv
*.pyc
*~
kungfupeople.db
static/profiles
sorl.old
sorl
_thumbs
tags
static/photos/*
.refresh.log
mtimer.py
rerun.py
rerun_tests.py
sleeptime.conf
*.sql.done
kungfupeople.sql
static/old_profiles/
*.DS_Store
prowl-peterbe.key
localhost_googlemaps_api.key
kungfupeople.local_googlemaps_api.key
