
* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
}

body, textarea {
	color: #000;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.2em;
	background: #ffe095 url('/img/body-background.png') no-repeat top left;
}

body * {
	font-size: 1em;
}

#body-container {
	min-width: 900px;
	width: 100%;
}

#centre-content {
	margin-left: 20px;
	min-width: 900px;
}

#header {
	display: block;
	float: left;
	min-width: 836px;
	margin-left: 20px;
	width: 95%;
	height: 160px;
}

#nav {
	text-align: left;
	display: block;
	float: left;
	width: 100%;
	height: 40px;
	margin: 20px 20px 0 20px;
}

.logo {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 20px;
}

#title {
	margin: 40px 0 0 50px;
	display: block;
	float: left;
	height: 60px;
	color: #d07100;
}

#signup {
	font-family: Trebuchet, sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	letter-spacing: -2px;
	color: white;
	float: right;
	min-width: 200px;
	width: 30%;
	height: 35px;
	margin-top: 30px;
	margin-right: -1px;
	padding: 10px;
	padding-top: 25px;
	background-color: #8CA93E;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

#signup:hover {
	font-family: Trebuchet, sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	letter-spacing: -2px;
	color: white;
	float: right;
	min-width: 200px;
	width: 30%;
	height: 35px;
	margin-top: 30px;
	margin-right: -1px;
	padding: 10px;
	padding-top: 25px;
	background-color: #a5c356;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}




.mapContainer {
	text-align: center;
}

#gmap {
	background-color: #99B3CC;
	float: left;
	min-width: 836px;
	width: 95%;
	margin: 0px 0 20px 0;
/*	background-image: url(/static/img/map.png); */
	background-position: top left;
	border: 10px solid #8CA93E;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;

}

.minor #gmap {
	height: 7em;
}

.major #gmap {
	height: 25em;

}

#left-box {
	min-width: 150px;
	width: 20%;
	float: left;
	display: block;
	height: auto;
	margin: 0px 20px 0 0px;
}
.intro-box {
    	font-size: 1em;
    	line-height: 1.8em;
    	color: black;
	height: auto;
    	float: left;
    	display: block;
    	background-color: white;
	margin-bottom: 40px;
	margin-top: -20px;
	padding: 17px;
    	border: 3px solid white;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

.intro-box-top {
    	font-size: 1em;
    	line-height: 1.8em;
    	color: white;
	height: auto;
    	float: left;
    	display: block;
    	background-color: #8CA93E;
	margin-bottom: 40px;
	margin-top: -30px;
	padding: 17px;
    	border: 3px solid #8CA93E;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;
}

#home-content-box {
	min-width: 500px;
	width: 70%;
	float: left;
    	display: block;
	margin-bottom: 30px;
    	background-color: white;
    	padding: 10px;
    	border: 10px white solid;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:10px;
}

#inside-left {
    	float: left;
	min-width: 400px;
    	width: 70%;
    	margin-right: 20px;
}

#inside-right {
	float: left;
	min-width: 150px;
	width: 25%;
}

#content-box {
	min-width: 500px;
	width: 70%;
    	float: left;
    	margin: 0 20px 0 0px;
    	display: block;
    	min-height: 800px;
    	background-color: white;
    	padding: 10px;
    	border: 10px white solid;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

#right-column {
	min-width: 150px;
	width: 20%;
	float: left;
	display: block;
	height: auto;
	margin: 0px 1px 0 0px;
}

.right-box {
    	font-size: 1em;
    	line-height: 1.8em;
    	color: black;
	height: auto;
    	float: left;
    	display: block;
    	background-color: white;
	margin-bottom: 40px;
	margin-top: -20px;
	padding: 17px;
    	border: 3px solid white;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

.right-box-top {
    	font-size: 1em;
    	color: white;
	display: block;
	height: auto;
    	float: left;
    	background-color: #8CA93E;
	margin-bottom: 40px;
	margin-top: -20px;
	padding: 17px;
    	border: 3px solid #8CA93E;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;
}







strong, 
strong * {
	font-weight: bold;
}

ul, li {
    list-style-type: none;
}


/* @group Headings */

h2 {
	font-family: Helvetica, sans-serif;
	margin: 0.8em 0 1em 0;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
	color: #bd0505;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #bd0505;
	margin-bottom: 10px;
}

/* @end */

/* @group Links */

a img {
	border: none;
	background-color: none;
}

a:hover img {
	border: none;
	background-color: none;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
	color: #7e9f24;
	padding:2px;

}
a:hover,
a:active,
a:focus {
	background-color: #7e9f24;
	padding:2px;
	color: white;
}
a:active {

}

/* @end */

/* @group Forms */

label {
	cursor: pointer;
}
th { 
	text-align: left;
}
ul.errorlist {
    margin: 0; 
	padding: 0;
	list-style-type:none;
	clear: both;
}
ul.errorlist li {
    margin: 0.3em 0; 
	padding: 0; 
	color: red;
	font-size: 0.8em;
}

#location {
	padding-top: 0.9em;
	margin: 0 0 10px -10px;
	padding-left: 10px;
}
.country {
	width: 100%;
	overflow: hidden;
	border: 1px solid white;
}
.country select {
	float: left; 
	width: 10em;
}
.country .flag {
	margin: 5px 0 0 10px;
}

.form-field-outer label {
	width: 10em;
	clear: left;
	float: left;
	text-align: right;
	margin-bottom: 0.6em;
	margin-right: 10px;
	font-weight: bold;
	font-size: 0.9em;
}

input.submit {
	float: right;
	background-color: #ffafaf;
	color: #414F32;
	padding: 2px 5px;
}
.buttonContainer input{
	background-color: #bd0505;
	color: white;
	padding: 5px 20px 5px 20px;
	font-size: 0.9em;
	border: none;
-moz-border-radius-bottomleft:20px;
-moz-border-radius-bottomright:20px;
-moz-border-radius-topleft:20px;
-moz-border-radius-topright:20px;
}

.buttonContainer input:active {

}

fieldset {
	border: none;
	margin: 0;
}


div.about p {
	margin-bottom: 1em;
}
form.search {
	float: left;
	clear: both;
}
/* @end */

/* @end */

/* @group Helper Styles */

/* @group Links */


div.finding p strong {
	width: 6.5em;
	display: block;
	float: left;
}
div.finding p {
	clear: both;
}
div.finding {
	margin-bottom: 1em;
	width: 100%;
	overflow: hidden; /* clear contained floats */
}

/* @group Details lists */

ul.detailsList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.detailsList li {
	margin: 0 0 1em 0;
	clear: both;
	width: 100%;
	overflow: hidden;
}

ul.detailsList li img.main {
	float: left;
	margin: 0 10px 10px 0;
	width:  2.5em;
}

ul.detailsList li h3 {
	font-size: 1.2em;
}

ul.detailsList li .meta {
	font-size: 0.8em;
	margin-top: 3px;
	color: #666
}

/* @end */


/* @group list split */

ul.split {
	width: 100%;
	overflow: hidden;
	margin-top: 1em;
}

ul.split li {
	width: 44%;
	float: left;
	clear: none;
	margin-right: 5%;
}

/* @end */


/* @end */

.highlight {
	background-color: #E0FFB8;
	border-color: #94DA3A;
	border-style: solid;
	border-width: 1px 0;
	padding: 10px 1em 1em 1em;
	margin: 1.45em 0 2em 0;
	color: #234F32;
}
.highlight p {
	margin-bottom: 1em;
}

div.highlight ul {
	list-style-type: none;
}


/* @group header */


.header a {

}

.header p {
	margin: 0px 0px 10px 40px;
}


#title h1 {
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 0px;
	font-size: 5em;
	font-weight: bold;
	color: #BD0505;
}

#search {
	float: left;
	display: block;
}



/* @group Navigation */



#nav ul {
	margin: 0 auto;
	padding: 0.5em 2% 0 0%;
	list-style-type: none;
	display: inline;
}

#nav li {
	text-align: right;
	float: left;
	width: auto;
	font-size: 0.8em;
	margin-right: 30px;
}

#nav a:link,
#nav a:visited,
#nav a:hover,
#nav a:active,
#nav a:focus {

}
.current a:link,
.current a:visited {

}
#nav a:hover,
#nav a:active,
#nav a:focus {

}
/* @end */

/* @group content */

.content {
	margin: 0 auto 1em auto;
	width: 98%;
	text-align: left;
}

.primary {
	float: left;
	width: 60%;
}
.secondary {
	float: right;
	width: 36%;
}

/* @end */

/* @end */

/* @group footer */



/* @end */


/* @group Overrides */

/* @group Signup page */

div#mapWrapper {
    position: relative;
}
div#gmap {
    height: 300px;
    background-color: #ccc;
}
div#crosshair {
    position: relative;
    top: 550px;
    height: 19px;
    width: 19px;
    left: 49%;
    margin-top: -8px;
    margin-left: -8px;
    display: block;
    background: url(/img/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
select#id_country {
    width: 14em;
	float: left;
	margin-right: 20px;
}
/* @end */

/* @end */

p {
	margin-bottom: 1.2em;
}


#content-box, #home-content-box p {
	padding-bottom: 10px;
	line-height: 1.5em;
}

#floater {
    float: right;
    display: block;
    height: auto;
    width: 20%;
    text-align: left;
    padding-left: 60px;
}

#floater img {
	margin-left: -60px;
	float: left;
}

#right-box p {
	margin-bottom: 10px;
}

.form-container {
    	min-width: 350px;
	width: 40%;
    	float: left;
    	min-height: 250px;
    	margin: 0 20px 15px 0px;
    	background-color: white;
    	padding: 10px;
    	border: 10px white solid;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

.form-container p {
	font-size: 1.1em;
	line-height: 1.8em;
	padding: 10px 10px 10px 20px;
}

.form-container-wide {
    min-width: 900px;
	width: 90%;
    float: left;
    margin: 0 10px 15px 0px;
    background-color: white;
    padding: 10px;
    border: 10px white solid;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

ul.latest-list {
    margin: 0px 0 0 10px;
    padding-top: 7px;
}

li.latest-list {
	list-style-type:none;
	margin-bottom: 10px;
	height: 45px;
}

.small-text {
    font-size: 0.8em;
}

.large-text {
    font-size: 1.5em;
}

.quotation {
    font-family: "Times Roman","Times New Roman",Times,Georgia,serif;
    font-size: 1.1em;
    font-style: italic;
}

.list-photo {
	float: left;
	margin-right: 10px;
}

.list-text {
	float: left;
	display: block;
}

.list-map-image {
	padding-left: 4px;
}

.form-hint {
	font-size: 0.8em;
	color: #666;
}

#profile-head {
	height: 110px;
}

#profile-head h3, p {
	margin-bottom: 0px;
}

.profile-photo {
	height: 100px;
	width: 100px;
	margin: 0px 15px 15px 0px;
	float: left;
}



.diagram-photo {
	margin-right: 60px;
	float: left;
}

.small-icon {
	position: relative;
	top: 3px;
}

.form-field-outer {
	display: block;
	float: left;
	width: 90%;
	height: auto;
	margin-bottom: 5px;
}

.form-field-left {
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

.form-field-right {
	float: left;
	width: 60%;
	background-color: white;
}

.form-field-right input, .form-field-right textarea {
	margin-bottom: 0.6em;
	border: 1px inset #326342;
	background: none white;
}

.form-field-submit {
	float: left;
	margin-left: 160px;
}

.upload-photo-text {
	text-align: center;
	display: block;
	width: 50px;
	overflow: wrap;
	padding: 10px;
	font-family: Trebuchet, sans-serif;
	font-weight: bold;
	font-size: 0.7em;
	line-height: 1.2em;
}
