{% extends "base.html" %}

{% block title %}About |{% endblock %}

{% block nav_li_class_about %} class="current"{% endblock %}>

{% block header %}
<h1>About KungfuPeople</h1>
{% endblock %}

{% block content %}{% load humanize %}
<div class="about">
<p>KungfuPeople is a website for connecting martial artists around the world. It's focussed on Chinese kung fu, but not limited to one style.</p>

<p>If you're a martial artist, why not add yourself to a growing world map of like-minded people? We've made it simple for you to create your own public kung fu profile page and let other people know what you're about. <a href="/about/whatyoucando/">See here what you can do...</a></p>

<ol>
<li class="KungfuBullets">1.</li>
<li class="KungfuBullets">2.</li>
<li class="KungfuBullets">3.</li>
</ol>


<h2>Why are we doing it?</h2>

<p>KungfuPeople is just for fun - we're not asking you for any money, and we won't be selling your data or information to other companies. We're martial artists, and we want to help promote kung fu simply because we think the world would be a better place if everyone was training. We all know the potential of the internet for spreading information and connecting people, so this is our way of helping.</p>

<h2>Ulterior motive</h2>

<p>We have only one ulterior motive - promoting kung fu! We're not tied to any particular club or organisation, but we hope that this website can help kung fu clubs to grow and spread their message, and attract more and more people to train kung fu. <a href="">Read here how you can use this website to promote your club.</a></p>

<h2>More about the site...</h2>

<p>If you're interested in finding out more about this site and how it was created <a href="">keep reading....</a></p>

<p>The font used for the headers is <a href="http://www.blambot.com/">Seven Monkey Fury</a>. Font replacement is provided by <a href="http://wiki.github.com/sorccu/cufon/about">Cufon</a>, a Javascript based text-replacement tool. The site was designed using <a href="http://www.djangoproject.com">Django</a>, a Python based web framework that's as awesome as it is easy to use. Muchos thanks goes to <a href="http://www.peterbe.com">Peter Bengtsson</a> for his help in building the site, and kudos to <a href="http://simonwillison.net">Simon Willison</a> for the original inspiration and Django People source code.</p>

</div>
{% endblock %}
