{% extends "base.html" %}

{% block title %}About |{% endblock %}

{% block nav_li_class_about %} class="current"{% endblock %}>

{% block header%}
<h1>About | New to kung fu</h1>
{% endblock %}

{% block content %}{% load humanize %}
<div class="about">
<p>If you're new to kung fu, you might have a few questions about kung fu, or how to find a good club in your area. KungfuPeople is here to help.</p>

<h2>What is kung fu?</h2
<p>Kung fu is a Chinese system of martial art and self defense. It has evolved over hundreds of years into one of the 'flowers of Chinese culture'. Today, kung fu is primarily a system of exercise and self-development practised world-wide by millions of people. The huge range of different styles means that there is something for everyone, and people of all ages and backgrounds can benefit from improving their health, fitness and lives through kung fu. <a href="">Read more about kung fu...</a></p>

<h2>Finding a kung fu club</h2>
<p>If you've decided to take up kung fu, congratulations! Finding a club teaching Chinese kung fu is easy in many areas, but it's often difficult to find the right club for you. </p>
<p>The first thing is - just do it! If you want to try a kung fu club, contact the instructor and join a class! Try out a number of classes and don't always sit on the sidelines and watch. Participate in the class and you'll experience the exercises, see first-hand how the instructor teaches, and have a lot more fun than you would otherwise. Don't insist on a free trial-class - many clubs do not offer free classes, and the price of one class will be worthwhile if it helps you find the right club.</p>

<p>Finally, remember that you are under no obligations - take your time, find a club you like and slowly ease into your training. If you feel pressured to pay too much money up front, or do not like the atmosphere in a particular club, vote with your feet.</p>

<h2>Starting training</h2>
<p>When you first start training, take it easy! Unless you're already very fit, it will take a while for your body to adjust to the training and become strong and flexible. Don't worry! We've seen too many people join a kung fu club, train 5 times in the first week, and then never come back. Work within your body's limits, and make sure you tell the instructor if you have any previous injuries or medical conditions.</p>

<h2>A journey of a thousand miles...</h2>
<p>...starts with a single footstep. Most people that practice kung fu find that it not only improves their health, but brings benefits to their whole life. Learning and perfecting a style of kung fu takes a life-time of dedication, but it pays out as much as you put in.Enjoy yourself! </p>






</div>
{% endblock %}
