{% extends "base.html" %}

{% block title %}Add a video to your profile |{% endblock %}

{% block js %}
{% endblock %}

{% block header%}
<h1>Add a video to your profile</h1>
{% endblock %}

{% block content %}

	<div class="form-container">
	<a class="small-text" href="/{{ person.user.username }}">(back to your profile)</a>

	<h2>1. Paste your video code</h2>

    	<form method="post" action="/{{ user.username }}/videos/add/">

    
	<fieldset>
	    <div class="fieldWrapper">
            {{ form.embed_src.errors }}
            <label for="id_video">Video code</label>
            {{ form.embed_src|safe }}
            </div>
            <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="id_video_description">Video description</label>
            {{ form.description }}
            </div>
    	</fieldset>

	<h2>2. Save your video</h2>
    
	<div class="buttonContainer"><input type="submit" value="Add Video"></div>
	</form>
	</div>

	<div class="form-container">
    	<p>Add a video to your profile page by entering HTML code in the space provided below. You can add videos from sites like <a href="http://www.youtube.com">Youtube</a> or <a href="http://www.vimeo.com">Vimeo</a> by pasting the 'embed' code they provide into the space below.</p>

	<p>The video can be of yourself (why not show off your patterns a little!) but doesn't have to be. Try to keep it kung fu related, and remember that anything obscene or offensive will be removed.</p>
	</div>

	


{% endblock %}
