<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load django_static misc_extras %}
<html lang="en">{% load thumbnail %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="verify-v1" content="kTC2jSk8/sKWcKX5RYUpCi6b1SIwy+4YeT+QIyNIwLA=">
    <title>{% block title %}{% endblock %} {{ PROJECT_NAME }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/feeds/all/">
    <link rel="shortcut icon" href="{% staticfile "/img/favicon.ico" %}">
    <link rel="stylesheet" href="{% slimfile "/css/styles.css" %}" type="text/css" media="all" charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    {% block extracss %}{% endblock %}
    {% block extrahead %}{% endblock %}
    
{% if GOOGLE_ANALYTICS_TRACKER_ID %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_TRACKER_ID }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
        'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
{% endif %}

</head>
<body{% block bodymeta %}{% endblock %}>

	<div id="header">


		<div id="rss">
		<a href="/feeds/all/" title="Get a feed of all the latest additions to Kungfupeople.com"><img src="{% staticfile "/img/rss.png" %}"></a>
		</div>

		<div id="nav">
                {% include "_nav.html" %}
   		</div>

		<div id="logo">
			<a class="title" href="/">
			</a>
		</div>



	</div>


{% block map %}{% endblock %}

<div class="main-div">
         
        {% block content_outer %}
	
        {% block content %}{% endblock %}
        
        {% endblock %}


	{% block extra %}{% endblock %}
        
        
</div>

<br clear="all"/>

<div id="footer">
  <p>
  <a href="/about/">about</a>
 |
  <a href="/contact/">contact</a>
 |
  <a href="/thanks/">acknowledgements</a>
 |
  <a href="/privacy/">privacy policy</a>
 |
  &copy; Kung Fu People {{ COPYRIGHT_YEAR }}
  </p>
</div>



    {% if OFFLINE_MODE %}
      <script type="text/javascript" src="{% staticfile "/js/jquery-1.3.2.min.js" %}"></script>
      <script type="text/javascript">var OFFLINE_MODE=true</script>
    {% else %}
      <script type="text/javascript">var OFFLINE_MODE=false</script>
      <script src="http://www.google.com/jsapi?key={{ GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
      <script type="text/javascript">
      google.load("jquery", "1",{"other_params":"sensor=false"});
      </script>
    {% endif %}
    <script type="text/javascript" src="{% slimfile "/js/common.js" %}"></script>
    <script type="text/javascript">{{ MAP_KEYS|nearby_person_keys_js|safe }}</script>
    {% if request.user.is_superuser %}
    <script type="text/javascript">
    $(function() {
      $('.admin-only').each(function(i, e) {
        $(e).prepend($('<a href="#"></a>')
                      .css('font-size','70%').css('float','right')
                      .text('close')
                      .click(function () {
                        $('.admin-only').hide();
                      }));
      });
    });
    </script>
    {% endif %}
    {% block js %}{% endblock %}

</body>
</html>
