<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load django_static %}
<html lang="en">{% load thumbnail %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %} {{ PROJECT_NAME }}</title>
    <link rel="stylesheet" href="{% slimfile "/css/styles.css" %}" type="text/css" media="all" charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    {% block extracss %}{% endblock %}
    {% block extrajs %}{% endblock %}
    
</head>
<body{% block bodymeta %}{% endblock %}>


	<div id="nav">

	        <ul>
	            <li><a href="/">home</a></li>
	            <li><a href="/about/">about</a></li>
	            {% if not user.is_authenticated %}
	            <!-- not logged in -->
	            <li><a href="/signup/">sign up</a></li>
	            <li><a href="/login/">login</a></li>
	            {% else %}
	            <!-- logged in -->
	            <li>logged in as <strong><a href="/{{ user.username }}/">{{ user.username }}</a></strong> (<a href="/logout/">log out</a>)</li>
	            {% endif %}
	        </ul>
			{% if not user.is_authenticated %}
			<div id="hiddenLogin" style="display: none">
			    <form action="/login/" method="POST"><p><label for="id_usernameH">Username </label><input type="text" name="username" id="id_usernameH"></p><p><label for="id_passwordH">Password </label><input type="password" name="password" id="id_passwordH"></p><p><input type="submit" value="Log in" class="submit"></p>
			    </form>
			</div>
			{% endif %}
   	</div>

	<div id="header">

	<div id="logo">
	</div>

	<div id="title">
		<h1>{{ PROJECT_NAME|lower }}</h1>
	</div>

	{% if not user.is_authenticated %}
	{% block signup %}
	{% endblock %}
	{% endif %}

	</div>


{% block map %}{% endblock %}

<div class="main-div">
	
        {% block content %}{% endblock %}


	{% block extra %}{% endblock %}

    <script src="http://www.google.com/jsapi?key={{ GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
    <script type="text/javascript">
    google.load("jquery", "1",{"other_params":"sensor=false"});
    </script>
    {#<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script> #}
    <script type="text/javascript" src="{% slimfile "/js/common.js" %}"></script>

    {% block js %}{% endblock %}

{% if GOOGLE_ANALYTICS_TRACKER_ID %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS_TRACKER_ID }}");
pageTracker._trackPageview();
}catch(err){}</script>
{% endif %}
</div>
</div>
</body>
</html>
