{% extends base_template %}
{% load django_static %}
{% load misc_extras %}
{% load thumbnail %}

{% block title%}{{ club }} |{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}
<script type="text/javascript">
var PEOPLE = {{ people_locations_json|safe }};
</script>
<script type="text/javascript" src="{% slimfile "/js/worldmap.js" %}"></script>
{% endblock %}

{% block css %}
<style type="text/css">
#id_skills {
    width: 80%;
}
a.changeloc, h2 a.edit, div.bio a.edit {
    font-size: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
div.bio a.edit {
    font-size: 0.8em;
}
</style>

{% endblock %}  


{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>

	<div class="counter{% if people_is_current %}-current{% endif %}">
	<div class="number"><a href="/wall/">people</a></div>
	</div>
	<div class="counter{% if videos_is_current %}-current{% endif %}">
	<div class="number"><a href="/all-videos/">videos</a></div>
	</div>
	<div class="counter{% if clubs_is_current %}-current{% endif %}">
	<div class="number"><a href="/clubs/">clubs</a></div>
	</div>
	<div class="counter">
	<div class="number"><a href="/zoom/">map</a></div>
	</div>


{% endblock %}

{% block content %}
<div class="wrapper">


	<div id="content-box">

		<div id="profile-head">


		{% if club.photo %}
		    <img src="{% thumbnail club.photo 100x100 crop %}" alt="{{ person }}" class="profile-photo">
		{% else %}
		{% endif %}

       		<h2>{{ club.name }}</h2>



		<p><a href="{{ club.url }}">Visit {{ club.name }}'s website</a></p>
		
		{% if club.description %}
		{{ club.description|safe }}
		{% endif %}
        	
		</div>

	{% if members %}
		<div class="highlight-profile">
		<h3>members</h3>
	<div id="horizontal-image-listing">
		<div class="horizontal-image-list-text">Showing {{ count }} member{% ifequal count 1 %}{% else %}s{% endifequal %} located in: {% for members in members|uniqify_on:"country" %}<a href="/{{ members.country.iso_code|lower }}/">{{ members.country }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
		<ul class="horizontal-image-list">
		{% for person in members %}
        	<li class="horizontal-image-list">
       	        <div class="list-photo">
                <a href="{{ person.get_absolute_url }}">

		<img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}{% staticfile "/img/no-photo-background-40.png" %}{% endif %}" alt="{{ person }}" title="{{ person.user.get_full_name }}">

		</a>
		</li>
        	{% endfor %}
		</ul>
	</div>
	</div>
	{% endif %}
       
	</div>


	<div id="right-column">

	<div class="right-box">

		<h4>Are you a member of this club?</h4><p>You can easily add your profile to the site and join the club - increase the numbers and be proud of where you train! <a href="/signup/">Signup now</a></p>

		{% if not club.description %}
		<h4>Are you the instructor of this club?</h4><p> You can add more information to this page to help people find out more about your club. <a href="/promote-my-club/">Find out how here.</a></p>
		{% endif %}
		
   	</div>

	</div>
	</div>

{% endblock %}
