{% extends "base.html" %}

{% block title %}{{ country }} |{% endblock %}

{% block js %}{% load thumbnail %}
<script type="text/javascript">
var people = [
    // latitude, longitude, name, username, location description
    {% for person in country.kungfuperson_set.all %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];
var bbox_north = {{ country.bbox_north }};
var bbox_west = {{ country.bbox_west }};
var bbox_south = {{ country.bbox_south }};
var bbox_east = {{ country.bbox_east }};

</script>
<script src="/static/js/country.js" type="text/javascript"></script>

{% endblock %}

{% block header %}{% load thumbnail %}
        {% if country.iso_code or country.flag %}<img src="{% if country.iso_code %}/static/img/flags/{{ country.iso_code|lower }}.gif{% else %}/static/{{ country.flag }}{% endif %}" alt="{{ country }}" class="main">{% endif %}
        <h1>{{ country }}</h1>
        <p class="meta">{% if country.country %}<a href="/{{ country.country.iso_code|lower }}/" class="nobg"><img src="/static/img/flags/{{ country.country.iso_code|lower }}.gif" title="{{ country.country }}" alt="{{ country.country }}" class="flag"></a> {% endif %}{{ country.kungfuperson_set.count }} Kungfu {% ifequal country.kungfuperson_set.count 1 %}person{% else %}people{% endifequal %}</p>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

    {% block content %}

	<div id="content-box">

	<h3>{{ country }}</h3>
    {% with country.countrysite_set.all as sites %}
    {% if sites %}
    <div class="highlight">
        <h2>Kungfu community sites in {{ country }}</h2>
        <ul>
        {% for site in sites %}
            <li><a href="{{ site.url }}" class="ext">{{ site.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}


        <ul class="detailsList split">
            {% load person_list_items %}{% person_list_items country.kungfuperson_set.all %}
        </ul>
        {% if regions %}
        <h2>Regions</h2>
        <ul class="detailsList split">
            {% for region in regions %}
            <li>
                {% if region.flag %}<a href="/{{ country.iso_code|lower }}/{{ region.code|lower }}/" class="nobg"><img src="{% thumbnail region.flag 16x11 crop %}" alt="{{ region }}" title="{{ region }}"></a> {% endif %}<a href="/{{ country.iso_code|lower }}/{{ region.code|lower }}/"><strong>{{ region }}</strong></a> {{ region.peoplecount }} {% ifequal region.peoplecount 1 %}person{% else %}people{% endifequal %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
	</div>
    {% endblock %}
