{% extends "base.html" %}

{% block title %}{{ country }} |{% endblock %}

{% block js %}{% load thumbnail %}
<script type="text/javascript">
var people = [
    // latitude, longitude, name, username, location description
    {% for person in country.kungfuperson_set.all %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/person_small_blank.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];
var bbox_north = {{ country.bbox_north }};
var bbox_west = {{ country.bbox_west }};
var bbox_south = {{ country.bbox_south }};
var bbox_east = {{ country.bbox_east }};

</script>
<script src="/js/country.js" type="text/javascript"></script>

{% endblock %}

{% block header %}{% load thumbnail %}
        {% if country.iso_code or country.flag %}<img src="{% if country.iso_code %}/img/flags/{{ country.iso_code|lower }}.gif{% else %}/{{ country.flag }}{% endif %}" alt="{{ country }}" class="main">{% endif %}
        <h1>{{ country }}</h1>
        <p class="meta">{% if country.country %}<a href="/{{ country.country.iso_code|lower }}/" class="nobg"><img src="/img/flags/{{ country.country.iso_code|lower }}.gif" title="{{ country.country }}" alt="{{ country.country }}" class="flag"></a> {% endif %}{{ country.kungfuperson_set.count }} {{ PROJECT_MARTIAL_ART }} {% ifequal country.kungfuperson_set.count 1 %}person{% else %}people{% endifequal %}</p>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

    {% block content %}

	<div id="content-box">

	<h3>{{ PROJECT_MARTIAL_ART }} People in {{ country }}</h3>
    {% with country.countrysite_set.all as sites %}
    {% if sites %}
    <div class="highlight">
        <h2>{{ PROJECT_MARTIAL_ART }} community sites in {{ country }}</h2>
        <ul>
        {% for site in sites %}
            <li><a href="{{ site.url }}" class="ext">{{ site.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

{% if people %}
<ul class="latest-list">
{% for person in people %}
<li>

<div class="list-photo"><img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/upload-a-photo-40.png{% endif %}" alt="{{ person }}" width="40" height="40" class="xxxlatest">
					</div>

 			       	        <a class="list-item-title" href="{{ person.get_absolute_url }}">{{ person.user.get_full_name }}</a><br/>
					<img class="list-map-image" src="{% if person.country.iso_code %}/img/flags/{{ person.country.iso_code|lower }}.gif{% else %}/{{ person.country.flag }}{% endif %}" alt="{{ person.country }}"/>
        	        		<span class="small-text">{{ person.style }}</span>              

</li>
{% endfor %}
{% endif %}

	</div>
    {% endblock %}
