{% extends "base.html" %}

{% block title %}{{ entry.title }} | Diary |{% endblock %}

{% block extracss %}
<style type="text/css">
div.video { margin-bottom:20px; }
</style>
{% endblock %}


{% block js %}{% load thumbnail %}
{% if entry.latitude and entry.longitude %}
<script type="text/javascript" src="/js/diary.js"></script>
<script type="text/javascript">
var nearby_people = [
    // latitude, longitude, name, username, location description, flag, isocode
    {% for e in entry.get_nearest %}
    [{{ e.latitude }}, {{ e.longitude }}, "{{ e|escapejs }}", "{{ e.user.username|escapejs }}", "{{ e.location_description|escapejs }}", "{% if e.photo %}{% thumbnail e.photo 40x40 crop %}{% else %}/img/person_small_blank.png{% endif %}", "{{ e.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];

var entry_latitude = {{ entry.latitude }};
var entry_longitude = {{ entry.longitude }};
</script>


{% endif %}

{% endblock %}  

{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}

<div id="content-box">

	<h2>{{ entry.title }}</h2>
	<p class="meta">{% if is_owner %}<a href="edit">Edit this entry</a>{% else %}<a href="/{{ person.user.username }}">{{ person.user.get_full_name }}</a>{% endif %}  |  {{ entry.date_added|date:"d M Y" }} |  {{ entry.location_description }} ({{ entry.country.iso_code }})</p>

		{% if photos %}
		<div class="inside-content-box">
			<div class="inside-content-box-head">
			<h4>Related Photos</h4>
			</div>

			<div class="inside-content-box-main">
			{% if is_owner %}
			<p class="meta" style="margin-top:60px">
			<a href="../../photo/upload?diary={{ entry.id }}">Add photos related to this entry</a>
			</p>
			{% endif %}
                        <ul class="thumbnail-list">
			{% for photo in photos %}
			<li class="thumbnail-list">
			<a href="/{{ person.user.username}}/photo/{{ photo.id }}">
			<img src="{% thumbnail photo.photo 60x60 crop %}">
			</a>
			</li>
			{% endfor %}
			</div>
		</div>
                {% endif %}


{{ entry.content|safe }}
     

</div>

<div id="right-column">

	<div class="right-box">
	<p>This item has been geo-tagged in <strong>{{ entry.location_description }} ({{ entry.country.iso_code }})</strong>! Click on the map to see other items related to this area.</p>
	</div>

</div>

{% endblock %}

