{% extends "base.html" %}

{% block title %}{{ entry.title }} | Diary |{% endblock %}

{% block extracss %}
<style type="text/css">
div.video { margin-bottom:20px; }
</style>
{% endblock %}

{% block content %}

<div id="content-box">

	<a class="small-text" href="/{{ person.user.username }}">(back to {% if is_owner %}your{% else %}{{ person.user.first_name }}'s{% endif %} profile)</a>

	<h2>{{ entry.title }}</h2>

	{% if is_owner %}<p><a href="/{{ person.user.username }}/diary/{{ entry.slug }}/edit/">(edit this entry)</a>{% endif %} {{ entry.content|safe }}</p>

</div>

{% endblock %}

