{% extends base_template %}
{% load django_static %}

{% block title %}{{ entry.title }} | Diary |{% endblock %}

{% block extracss %}
<style type="text/css">
div.video { margin-bottom:20px; }
</style>
{% endblock %}


{% block js %}{% load thumbnail %}
{% if entry.latitude and entry.longitude %}
<script type="text/javascript">
var PAGE_LATITUDE = {{ entry.latitude }};
var PAGE_LONGITUDE = {{ entry.longitude }};
</script>
<script type="text/javascript" src="{% slimfile "/js/pagemap.js" %}"></script>

{% endif %}

{% endblock %}  

{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;
        {% if OFFLINE_MODE %}
        <img src="{% staticfile "/static/img/map-short-placeholder.png" %}" />
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="wrapper">

<div id="content-box">

	<h2>{{ entry.title }}</h2>
	<p class="meta">{% if is_owner %}<a href="../../photo/upload?diary={{ entry.id }}"><strong>{% if photos %}Add more photos{% else %}Add photos to this entry{% endif %}</strong></a> | <a href="edit">Edit this entry</a>{% else %}<a href="/{{ person.user.username }}">{{ person.user.get_full_name }}</a>{% endif %}  |  {{ entry.date_added|date:"d M Y" }} |  {{ entry.location_description }} ({{ entry.country.iso_code }})</p>

		{% if photos %}
		<div id="related-photos">
		<div class="inside-content-box">
			<div class="inside-content-box-head">
			<h4>Related Photos</h4>
			</div>

			<div class="inside-content-box-main">
                        <ul class="thumbnail-list">
			{% for photo in photos %}
			<li class="thumbnail-list">
			<a href="/{{ person.user.username}}/photo/{{ photo.id }}">
			<img src="{% thumbnail photo.photo 60x60 crop %}">
			</a>
			</li>
			{% endfor %}
			</div>
		</div>
		</div>
                {% endif %}


{{ entry.content|safe }}
     

</div>

<div id="right-column">

	<div class="right-box">
	<p>This item has been geo-tagged in <strong>{{ entry.location_description }} ({{ entry.country.iso_code }})</strong>! Click on the map to see other items related to this area.</p>
	</div>

</div>

{% endblock %}

