{% extends "base.html" %}

{% block title %}{{ page_title }} |{% endblock %}

{% block extrajs %} 

<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript">
tinyMCE.init({
	theme : "advanced",
	mode : "textareas",
});
</script>

{% endblock %}

{% block extracss %}
<style type="text/css">
div.video { margin-bottom:20px; }
</style>
{% endblock %}


{% block js %}
<script type="text/javascript" src="/js/diary_add.js"></script>

{% endblock %} 

{% block map %}
<div class="mapContainer major" id="mapWrapper">
    <div id="gmap">&nbsp;</div>
</div>
{% endblock %}

{% block content %}






<div id="content-box">
    <form method="post" action=".">
    	<h2>{{ page_title }}</h2>
    <fieldset>

	<div class="form-field-outer">
		<div class="form-field-left">
    	        	{{ form.title.errors }}
    	        	<label for="id_title">Entry Title</label>
		</div>

		<div class="form-field-right">
    	        	{{ form.title }}
		</div>
	</div>

	<div class="form-field-outer" id="location">
		<div class="form-field-left">
            		{{ form.location_description.errors }}
            		<label for="id_location_description">Location *</label>
		</div>
		<div class="form-field-right">
			{{ form.location_description }}  <br/><span class="form-hint">(You can customize this if you like - it has been guessed from the map coordinates above.)</span>
		</div>
	</div>

	<div class="form-field-outer" id="country">
		<div class="form-field-left">
            		{{ form.country.errors }}
            		<label for="id_country">Country</label>
		</div>
		<div class="form-field-right">
			{{ form.country }}
		</div>
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.latitude.errors }}
            		<label for="id_latitude">Latitude</label>
		</div>
		<div class="form-field-right">
			{{ form.latitude }}
		</div>
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.longitude.errors }}
            		<label for="id_longitude">Longitude</label>
		</div>
		<div class="form-field-right">
			{{ form.longitude }}
		</div>
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.region.errors }}
            		<label for="id_region">Region</label>
		</div>
		<div class="form-field-right">
			{{ form.region }}
		</div>
	</div>

	</fieldset>

    	<fieldset>

	<div class="form-field-outer">
		<div class="form-field-left">
    	        	{{ form.content.errors }}
    	        	<label for="id_content">Content</label>
		</div>

		<div class="form-field-right">
    	        	{{ form.content }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
    	        	{{ form.is_public.errors }}
    	        	<label for="id_is_public">Is this entry public?</label>
		</div>

		<div class="form-field-right">
    	        	{{ form.is_public }} <span class="form-hint">(tick the box if you want other people to see this)</span>
		</div>
	</div>

	<div class="form-field-submit">
    		<div class="buttonContainer">
    		<input type="submit" value="Save Entry">
    		</div>
	</div>

</div>


{% if entries %}
<div id="right-column">
<div class="right-box">
<p>To geo-tag this item, click anywhere on the map and move the pin (by default it will be set to {{ person.location_description }})</p>
</div>
<div class="right-box">
<h3>Your previous entries</h3>
<ul>
{% for entry in entries %}
<li><a href="/{{ person.user.username }}/diary/{{ entry.slug }}/">{{ entry.title|truncatewords:4 }}</a></li>
{% endfor %}
</ul>
</div>
</div>
{% endif %}



	

</div>

{% endblock %}

