{% extends "base.html" %}

{% block title %}Edit your profile |{% endblock %}

{% block js %}
{% endblock %}


{% block content %}
	<div class="no-map-wrapper">
	<div id="no-map-content-box">

	<a class="small-text" href="/{{ person.user.username }}">(back to your profile)</a>

    <form method="post" action="/{{ person.user.username }}/profile/">
    	<h2>1. Edit your contact details</h2>

	<fieldset>
	<div class="form-field-outer">
		<div class="form-field-left">
    	        {{ form.email.errors }}
    	        <label for="id_email">E-mail</label>
		</div>

		<div class="form-field-right">
    	        {{ form.email }}
		</div>
	</div>
	</fieldset>
	

    	<h2>2. Edit your profile information</h2>
    
	<fieldset>
	<div class="form-field-outer">
		<div class="form-field-left">
            	{{ form.bio.errors }}
            	<label for="id_bio">Bio</label>
		</div>

		<div class="form-field-right">
    	        {{ form.bio }}
		</div>
	</div>
	</fieldset>

	<fieldset>
	<div class="form-field-outer">
		<div class="form-field-left">
        	{{ form.what_is_kungfu.errors }}
        	<label for="id_what_is_kungfu">What is kungfu?</label>
		</div>
		<div class="form-field-right">
    	        {{ form.what_is_kungfu }} 
            	{% if example %} 
                <br/><span class="form-hint">(144 characters to write your personal definition of "What is kungfu?")</span>
            	{% endif %}
		</div>
	</div>
	</fieldset>

    	<h2>3. Save your changes</h2>

	<div class="form-field-submit">
    		<div class="buttonContainer">
    		<input type="submit" value="Save details">
    		</div>
	</div>

    </form>

</div>


{% endblock %}
