{% extends "base.html" %}

{% block title %}Account settings |{% endblock %}

{% block nav_li_class_account %} class="current"{% endblock %}

{% block js %}
{% endblock %}

{% block header%}
<h1>Account settings</h1>
{% endblock %}

{% block content %}
<ul>
  <li><a href="/{{ user.username }}/location/">Change your location</a></li>
  <li><a href="/{{ user.username }}/finding/">Update your contact details</a></li>
  <li><a href="/{{ user.username }}/profile/">Edit your profile information</a></li>
  <li>{% if user.has_usable_password %}<a href="/{{ user.username }}/password/">Change your password</a>{% else %}You do not have a password set - <a href="/{{ user.username }}/password/">set one now?</a>{% endif %}</li>
</ul>
<br>


    </form>

{% endblock %}
