{% extends "base.html" %}

{% block title %}Edit contact information |{% endblock %}

{% block js %}
{% endblock %}

{% block header%}
<h1>Edit profile information</h1>
{% endblock %}

{% block content %}
    <form method="post" action="/{{ person.user.username }}/finding/">
    <h2>Contact details</h2>
    <fieldset>
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <label for="id_email">E-mail *</label>
            {{ form.email }}
        </div>
    </fieldset>

    <h2 id="privacy">Privacy settings</h2>
    <fieldset>
        <div class="fieldWrapper radioSelect">
            {{ form.privacy_email.errors }}
            <label for="id_privacy_email">Hide my email address?</label>
            {{ form.privacy_email }}
        </div>
    </fieldset>
    
    <div class="buttonContainer"><input type="submit" value="Save changes"></div>
    <div class="buttonContainer"><input type="button" value="Cancel"></div>
    </form>

{% endblock %}
