{% extends "base_no_map.html" %}

{% block title %}Change your password |{% endblock %}

{% block content %}

	<h2>1. Enter your new password</h2>
    <form method="post" action="/{{ user.username }}/password/">
    <fieldset>
    
        <div class="form-field-outer">
		<div class="form-field-left">
            		<label for="id_password1">Password</label>
		</div>

		<div class="form-field-right">
                  <input type="password" name="password1" id="id_password1">
		</div>
	</div>

        <div class="form-field-outer">
		<div class="form-field-left">
            		<label for="id_password2">Password (again)</label>
		</div>

		<div class="form-field-right">
                  <input type="password" name="password2" id="id_password2">
		</div>
	</div>

    </fieldset>    

	<h2>2. Save your new password</h2>
        
	<div class="form-field-submit">
		<div class="button-outer">
    		<div class="buttonContainer">
    		<input type="submit" value="Change password">
    		</div>
		</div>
	</div>
        
    
    </form>


{% endblock %}
