{% extends "base.html" %}

{% block title %}Change your location |{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/css/flags.css" type="text/css">
<style type="text/css">
#id_location_description {
    width: 24em;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jquery.color.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>
{% endblock %}

{% block header%}
<h1>Change your location</h1>
{% endblock %}

{% block content %}

	<div class="form-container-wide">
		<h2>1. Place the marker on your new location</h2>
	    	<p><strong>Zoom and center the map on your location</strong>. Your map location will be shared in public, so only make it as accurate as makes you comfortable.</p>
	</div>

<div class="mapContainer major" id="mapWrapper">
    <div id="gmap">&nbsp;</div>
</div>


	<div class="form-container">

	<h2>2. Confirm your location</h2>

    <form method="post" action="/{{ user.username }}/location/">
    <fieldset>
        <div class="fieldWrapper" id="location">
            {{ form.location_description.errors }}
            <label for="id_location_description">Location *</label>
            {{ form.location_description }}
        </div>
        <div class="fieldWrapper country">
            {{ form.country.errors }}
            <label for="id_country">Country</label>
            {{ form.country }}
        </div>
        <div class="fieldWrapper">
            {{ form.latitude.errors }}
            <label for="id_latitude">Latitude</label>
            {{ form.latitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.longitude.errors }}
            <label for="id_longitude">Longitude</label>
            {{ form.longitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.region.errors }}
            <label for="id_region">Region</label>
            {{ form.region }}
        </div>
	</div>
	</fieldset>

	<div class="form-container">

	<h2>3. Save your new location</h2>

    	<div class="buttonContainer"><input type="submit" value="Update location"></div>
    	</div>
	</form>

</div>

{% endblock %}
