{% extends base_template %}
{% load django_static %}
{% block title %}Edit your styles |{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% slimfile "/css/jquery.autocomplete.css" %}" type="text/css"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% staticfile "/js/jquery.autocomplete.min.js" %}"></script>
<script type="text/javascript">
var ALL_STYLES = {{ all_styles_js|safe }};
$(function () {
  $('#id_style_name').autocomplete(ALL_STYLES);
});
</script>
{% endblock %}


{% block content %}
	<div class="no-map-wrapper">
	<div id="no-map-content-box">
    <form method="post" action="/{{ person.user.username }}/style/">
    	<h2>Add a new style</h2>
	<a class="small-text" href="/{{ person.user.username }}">(back to your profile)</a>

    	<fieldset>

	<div class="form-field-outer">
		<div class="form-field-left">
    	        	{{ form.style_name.errors }}
    	        	<label for="id_style_name">Style Name</label>
		</div>

		<div class="form-field-right">
    	        	{{ form.style_name }}
		</div>
	</div>


	<div class="form-field-submit">
		<div class="button-outer">
    		<div class="buttonContainer">
    		<input type="submit" value="Add style">
    		</div>
		</div>
	</div>

	</fieldset>

    </form>

</div>

<div id="right-column">

	<h3>Your current style{{ styles|pluralize }}</h3>
	{% for style in styles %}
	<p><a href="{% url style.view style.slug %}">{{ style|title }}</a>
        <a class="small-text" href="{% url delete_style person.user.username style.slug %}"
        >(<img title="remove this style" class="small-icon" src="/img/delete.png">)</a>
	</p>
	{% endfor %}

</div>


{% endblock %}
