{% extends "base_no_map.html" %}

{% block title %}Edit your profile |{% endblock %}


{% block content %}

    <form method="post" action="{% url edit_profile person.user.username %}">
    	<h2>Edit your details</h2>
    <p><a class="small-text" href="{% url person.view person.user.username %}">(back to your profile)</a></p>


	<div id="profile-box-top">
	</div>
	<div id="profile-box">
	<div class="form-field-outer">
		<div class="form-field-left">
    	        {{ form.email.errors }}
    	        <label for="id_email">E-mail</label>
		</div>

		<div class="form-field-right">
    	        {{ form.email }}
		</div>
	</div>
    
	<div class="form-field-outer">
		<div class="form-field-left">
            	{{ form.bio.errors }}
            	<label for="id_bio">Bio</label>
		</div>

		<div class="form-field-right">
    	        {{ form.bio }}
		</div>
	</div>
        

	<div class="form-field-submit">
		<div class="button-outer">
    		<div class="buttonContainer">
    		<input type="submit" value="Save details">
    		</div>
		</div>
	</div>

    </form>

        </div>
	<div id="profile-box-bottom">
	</div>



{% endblock %}
