{% extends "base.html" %}
{% load django_static %}

{% block title %}Edit your clubs |{% endblock %}

{% block js %}
<script type="text/javascript" src="{% slimfile "/js/edit_club.js" %}"></script>
{% endblock %}



{% block content %}

<div id="content-box">


    <form method="post" action="/{{ person.user.username }}/club/">
    	<h2>Add a new club</h2>
	<a class="small-text" href="/{{ person.user.username }}">(back to your profile)</a>

    	<fieldset>

	<div class="form-field-outer">
		<div class="form-field-left">
    	        	{{ form.club_url.errors }}
    	        	<label for="id_club_url">Club URL</label>
		</div>

		<div class="form-field-right">
    	        	{{ form.club_url }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
                	{{ form.club_name.errors }}
                	<label for="id_club_name">Club Name</label>
		</div>

		<div class="form-field-right">
    	        	{{ form.club_name }}
		</div>
	</div>

	<div class="form-field-submit">
    		<div class="buttonContainer">
    		<input type="submit" value="Add club">
    		</div>
	</div>

	</fieldset>

    </form>

</div>

<div id="right-column">

	<h3>Your current club{{ clubs|pluralize }}</h3>
	{% for club in clubs %}
	<p><a href="/club/{{ club.slug }}">{{ club }}</a><a class="small-text" href="/{{ person.user.username }}/club/delete/{{ club.slug }}/">(<img title="remove this club" class="small-icon" src="/img/delete.png">)</a>
	</p>
	{% endfor %}

</div>


{% endblock %}
