{% extends base_template %}
{% load misc_extras django_static thumbnail %}

{% block nav_li_class_home %} class="current"{% endblock %}>

{% block extracss %}
<style type="text/css">
{% slimcontent %}
#promo-text {
	display: block;
	width: 500px;
	height: auto;
	float: left;
}

p.promo-title {
	margin: 0px 0 20px 20px;
	width: 600px;
	font-size: 3em;
	font-weight: bold;
	color: #a10606;
	padding-bottom: 0px;
}
a.promo-link {
	font-size: 1.5em;
	margin-left: 40px;
	text-decoration: underline;
}

p.promo {
	margin-left: 30px;
	padding: 0px 30px 0px 0px;
	width: 470px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}

{% endslimcontent %}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
{# This javascript variable is going to be used in worldmap.js #}
var PEOPLE = {{ people_locations_json|safe }};
</script>
<script type="text/javascript" src="{% slimfile "/js/worldmap.js" %}"></script>

{% endblock %}
	
	{% block signup %}

	<div id="signup">
	<p><strong>A world-wide map of {{ PROJECT_NAME }}! <a href="{% url signup %}">Signup today.</a></strong></p>
	</div>
	{% endblock %}

{% block count %}<p>The worldwide community of martial artists</p> {% endblock %}

{% block map %}

	<div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
	</div>

	<div class="counter">
	<div class="number"><a href="/wall/">kungfu people ({{ people_count }})</a></div>
	</div>
	<div class="counter">
	<div class="number"><a href="/all-videos/">videos</a></div>
	</div>
	<div class="counter">
	<div class="number"><a href="/clubs/">clubs</a></div>
	</div>
	<div class="counter-current">
	<div class="number"><a href="/zoom/">map</a></div>
	</div>



{% endblock %}

{% block content %}
	<br clear="all"/>

	{% if not user.is_authenticated %}
	<div class="home-text">
		Kungfupeople is a global map of kungfu clubs and stylists...<a href="/about/">find out more</a> or <a href="/signup/">signup now!</a>
	</div>
	{% endif %}

{% endblock %}

