{% extends "base.html" %}

{% block nav_li_class_home %} class="current"{% endblock %}>

{% block js %}{% load thumbnail %}
<script type="text/javascript">
{# This javascript variable is going to be used in index.js #}
var people = [
    // latitude, longitude, name, username, location description
    {% for person in recent_people %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 60x60 crop %}{% else %}static/img/upload-a-photo-60.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];
</script>
<script type="text/javascript" src="/js/index.js"></script>

{% endblock %}
	
	{% block signup %}

	<div id="signup">
	<p><strong>A world-wide map of kung fu people! <a href="/signup/">Signup today.</a></strong></p>
	</div>
	{% endblock %}

{% block count %}<p>The worldwide community of martial artists</p> {% endblock %}

{% block map %}

	<div class="mapContainer major">
        		<div id="gmap">&nbsp;</div>
	</div>
{% endblock %}

{% block content %}



	<div id="content-box">
		<h2>Kungfu People Alpha Test</h2>
		<p>Welcome to the Kungfu People Alpha Test. This website has been launched recently, and still contains a number of bugs and is incomplete. You're welcome to play with the website, test it, try to break it - just make sure you tell us what's wrong by emailing us at: XXXXXXXXXXXX.</p>

	</div>
		
	<div id="right-column">
			<h3>Latest members</h3>
				<ul class="latest-list">
			        	{% for person in recent_people_limited %}
        	    			<li class="latest-list">

        	        		<div class="list-photo">
                                           {% if your_person %}
					   {% ifequal person your_person %}
                                             <a href="{{ person.get_absolute_url }}upload/"
                                               ><img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/upload-a-photo-40.png{% endif %}" alt="{{ person }}" width="40" height="40"></a>
                                           {% else %}
                                              <a href="{{ person.get_absolute_url }}"
                                               ><img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/upload-a-photo-40.png{% endif %}" alt="{{ person }}" width="40" height="40"></a>
                                           {% endifequal %}
                                           {% else %}
					   <img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/upload-a-photo-40.png{% endif %}" alt="{{ person }}" width="40" height="40">
                                           {% endif %}
					
					</div>

 			       	        <a class="list-item-title" href="{{ person.get_absolute_url }}">{{ person.user.get_full_name }}</a><br/>
					<img class="list-map-image" src="{% if person.country.iso_code %}/img/flags/{{ person.country.iso_code|lower }}.gif{% else %}/{{ person.country.flag }}{% endif %}" alt="{{ person.country }}"/><span class="small-text">{{ person.country }}</span>
        	        		<span class="small-text">{{ person.style }}</span>              
 					</li>
        				{% endfor %}
				</ul>

			<h3>Latest clubs</h3>
					{% for club in clubs %}
					<a href="/club/{{ club.slug }}/">{{ club }}</a>
					{% if not forloop.last %} | {% endif %}
					{% endfor %}

			<h3>Latest photos</h3>
				<ul class="thumbnail-list">
					{% for photo in photos %}
					<li><a href="/{{ photo.user.username }}/photo/{{ photo.id }}/"><img height="40" width="40" src="{% thumbnail photo.photo 40x40 crop %}"></a></li>
					{% endfor %}
				</ul>
		

		</div>



	</div>



{% endblock %}
