{% extends base_template %}
{% load misc_extras django_static thumbnail %}

{% block nav_li_class_home %} class="current"{% endblock %}>

{% block js %}
<script type="text/javascript">
{# This javascript variable is going to be used in index.js #}
var people = [
    // latitude, longitude, name, username, location description
    {% for person in recent_people %}
      {{ person|nearby_people_escape|safe }}{% if not forloop.last %},{% endif %}
    {% endfor %}
];
</script>
<script type="text/javascript" src="{% slimfile "/js/worldmap.js" %}"></script>

{% endblock %}
	
	{% block signup %}

	<div id="signup">
	<p><strong>A world-wide map of {{ PROJECT_NAME }}! <a href="/signup/">Signup today.</a></strong></p>
	</div>
	{% endblock %}

{% block count %}<p>The worldwide community of martial artists</p> {% endblock %}

{% block map %}

	<div class="mapContainer major">
        		<div id="gmap">&nbsp;</div>
	</div>
{% endblock %}

{% block content %}
<div class="wrapper">

	<div id="horizontal-image-listing">
	<div class="horizontal-image-list-text">
	  Showing {{ recent_people.count }} 
	  {% ifequal recent_people.count 1 %}person{% else %}people{% endifequal %} 
	  located in: 
	  {% for person in recent_people|uniqify_on:"country" %}<a href="/{{ person.country.iso_code|lower }}/"
	    >{{ person.country }}</a>{% if not forloop.last %}, {% endif %}
	  {% endfor %}
	</div>
	  
		<ul class="horizontal-image-list">
		{% for person in recent_people_limited %}
        	<li class="horizontal-image-list">
       	        <div class="list-photo">
                <a href="{{ person.get_absolute_url }}">
                <img src="{% if person.photo %}{% thumbnail person.photo 60x60 %}{% else %}{% staticfile "/img/upload-a-photo-60.png" %}{% endif %}" alt="{{ person }}" width="60" height="60">
		</a>
		</li>
        	{% endfor %}
		</ul>



	</div>


	{% if not user.is_authenticated %}
	<div id="home-content-box">
		<img class="plus" src="/static/img/plus.png">
		<h2><a class="h2-link" href="/signup/">add yourself to the martial arts map</a></h2>
		<p>Add yourself to the global map and join the {{ PROJECT_NAME }} community.</p>
	</div>
	{% endif %}


		

	</div>



{% endblock %}
