{% extends base_template %}

{% block title %}Recover your account |{% endblock %}

{% block js %}
<style type="text/css">
p.message {
    color: red;
}
</style>
{% endblock %}

{% block header%}
<h1>Recover your account</h1>
{% endblock %}

{% block content %}
	<div class="no-map-wrapper">
	<div id="no-map-content-box">

	<h2>lost your password?</h2>

    <div id="profile-box-top">
    </div>
    <div id="profile-box">
    	<form method="post" action="/recover/">
    	<p>{% if message %}{{ message }}{% else %}Enter your username and we'll send an account recovery link to the e-mail address associated with your account.{% endif %}</p>

	<fieldset>
	<div class="form-field-outer">
		<div class="form-field-left">
            		<label for="id_username">Username</label>
		</div>
		<div class="form-field-right">
		        <input type="text" name="username" id="id_username">
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
 
		</div>
		<div class="form-field-submit">
			<div class="button-outer">
    			<div class="buttonContainer">
    	    		<input type="submit" value="Recover account">
    			</div>
			</div>
		</div>
	</div>
	</fieldset>
	</form>
    </div>
    <div id="profile-box-bottom">
    </div>
	</div>
	</div>

{% endblock %}
