{% extends base_template %}
{% load django_static %}

{% block title%} Photo |{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}{% load thumbnail %}
{% if photo.latitude and photo.longitude %}
<script type="text/javascript">
var PAGE_LATITUDE = {{ photo.latitude }};
var PAGE_LONGITUDE = {{ photo.longitude }};
</script>
<script type="text/javascript" src="{% slimfile "/js/pagemap.js" %}"></script>
{% endif %}

{% endblock %}  


{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;
        {% if OFFLINE_MODE %}
        <img src="/static/img/map-short-placeholder.png" />
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

	<div id="content-box">

		{% if club.photo %}
		    <img src="{% thumbnail club.photo 100x100 crop %}" alt="{{ person }}" class="profile-photo">
		{% else %}
		{% endif %}

       		<h2>Photo</h2>
		<p class="meta">{{ photo.date_added|date:"d M Y" }} | {{ photo.location_description }} ({{ photo.country.iso_code }})  |  {% if is_owner %} <a href="edit">Edit</a>  |  <a href="delete">Delete</a> {% else %}<a href="/{{ person.user.username }}">{{ person.user.get_full_name }}</a>{% endif %}</p>
	
		<p><em>{{ photo.description }}</em></p>

		<div class="large-photo-container">
		<p><img src="{% thumbnail photo.photo 600x600 %}"></p>
		</div>

	</div>

<div id="right-column">

	<div class="right-box">
	<p>This item has been geo-tagged in <strong>{{ photo.location_description }} ({{ photo.country.iso_code }})</strong>! Click on the map to see other items related to this area.</p>
	</div>

</div>

{% endblock %}
