{% extends base_template %}
{% load django_static %}

{% block title%}{% if html_title %}{{ html_title }}{% else %}Photo{% endif %} |{% endblock %}

{% if meta_description %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% endif %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}{% load thumbnail %}
{% if photo.latitude and photo.longitude %}
<script type="text/javascript">
var PAGE_LATITUDE = {{ photo.latitude }};
var PAGE_LONGITUDE = {{ photo.longitude }};
</script>
<script type="text/javascript" src="{% slimfile "/js/pagemap.js" %}"></script>
{% endif %}

{% endblock %}  


{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;
        {% if OFFLINE_MODE %}
        <img src="/static/img/map-short-placeholder.png" />
        {% endif %}
        </div>
    </div>

	<div class="counter">
	<div class="number"></div>Tagged in <strong>{{ photo.location_description }} ({{ photo.country.name }}) </strong><br/>
	Click the map for more detail
	</div>
{% endblock %}

{% block content %}

	<div id="content-box">

		{% if club.photo %}
		    <img src="{% thumbnail club.photo 100x100 crop %}" alt="{{ person }}" class="profile-photo">
		{% else %}
		{% endif %}

		<div class="large-photo-container">
		<p><img src="{% thumbnail photo.photo 600x600 %}"></p>
		</div>

	</div>

<div id="right-column">

	<div class="right-box">
		{% if is_owner %}
		<a class="small-text" href="/{{ person.user.username }}">(back to your profile)</a>
		{% endif %}	

		<p class="meta">{{ photo.date_added|date:"d M Y" }} | {{ photo.location_description }} ({{ photo.country.iso_code }})  |  
		{% if is_owner %} 
		<a href="edit">Edit</a>  |  
		<a href="delete">Delete</a> 
		{% else %}
		<a href="/{{ person.user.username }}">{{ person.user.get_full_name }}</a>
		{% endif %}
		</p>
	
		<p><em>{{ photo.description|linebreaks }}</em></p>

        	{% if photo.diary_entry %}
        	<p>Related to diary entry
        	<a href="{{ photo.diary_entry.get_absolute_url }}">{{ photo.diary_entry }}</a></p>
        	{% endif %}
        	


	</div>

</div>

{% endblock %}
