{% extends "base.html" %}

{% block title%}{{ person }} |{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}{% load thumbnail %}
<script src="http://www.google.com/jsapi?key={{ api_key }}" type="text/javascript">
</script>
{% if person.latitude and person.longitude %}
<script type="text/javascript">
google.load('maps', '2');

var nearby_people = [
    // latitude, longitude, name, username, location description, flag, isocode
    {% for p in person.get_nearest %}
    [{{ p.latitude }}, {{ p.longitude }}, "{{ p|escapejs }}", "{{ p.user.username|escapejs }}", "{{ p.location_description|escapejs }}", "{% if p.photo %}{% thumbnail p.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}", "{{ p.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];

var person_latitude = {{ person.latitude }};
var person_longitude = {{ person.longitude }};
</script>
<script type="text/javascript" src="/static/js/profile.js"></script>
<style type="text/css">
#id_skills {
    width: 80%;
}
a.changeloc, h2 a.edit, div.bio a.edit {
    font-size: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
div.bio a.edit {
    font-size: 0.8em;
}
</style>
{% endif %}

{% endblock %}

{% block bodymeta %} class="vcard hresume"{% endblock %}


        
        




{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

    {% block content %}
        <div class="primary">

        <h2 class="fn n"><span class="given-name">{{ person.user.first_name }}</span> <span class="family-name">{{ person.user.last_name }}</span></h2>
        <p class="meta adr">
			<a href="/{{ person.country.iso_code|lower }}/" class="nobg">
				<img src="/static/img/flags/{{ person.country.iso_code|lower }}.gif" alt="{{ person.country }}" title="{{ person.country }}" class="flag country-name">
			</a> <span class="region">{{ person.location_description_html }}</span></p>
		
           {% if is_owner or person.bio %}
            <div class="highlight">                
                {% if person.bio %}<div class="summary">
			{% if person.photo %}<img src="{% thumbnail person.photo 83x83 crop %}" alt="{{ person }}" class="main photo">{% endif %}
			{% if person.style %}<p><strong>Style:</strong> {{ person.style }}</p>{% endif %}
			{% if person.what_is_kungfu %}<p>{{ person.what_is_kungfu }}</p>{% endif %}
			{% if not person.privacy_email %}<p><strong>Email: </strong> {{ person.user.email }}</p>{% endif %}
			{% if person.personal_url %}<p><strong>Personal website:</strong><a href="{{ person.personal_url }}"> {{ person.personal_url }}</a></p>{% endif %}
			{% if person.club_membership %} {{ club.name }} {% endif %}
                        {% if club %} YES {% endif %}
			{% filter linebreaks %}{{ person.bio|urlize }}{% if is_owner %} <a class="edit" href="/{{ user.username }}/profile/">(edit bio)</a>{% endif %}{% endfilter %}</div>{% else %}{% if is_owner %}<p><a href="/{{ user.username }}/profile/">Create your bio</a></p>{% endif %}{% endif %}
            {% if not user.get_profile.photo %}<a href="/{{ user.username }}/upload/">upload photo</a>{% endif %}
               

            </div>
            {% endif %}



{% comment %}
{% if person.video %}            <div class="highlight"><p>   {{ person.video|safe }} </p></div> {% endif %}
{% endcomment %}


       

        
        </div>
        <div class="secondary">
		
		{% if not others %}
		<p>{% if is_owner %}You're {% else %}{{ person.user.get_full_name }} is {% endif %} the only {{ person.style }} stylist in the whole world! <a href="/tell_your_friends">Tell your friends now!</a></p>
		{% else %}
		<h2>Other {{ person.style }} stylists</h2>
		<ul>	        
		{% for person in others %}
		<li><a href="{{ person.get_absolute_url }}">{{ person.user.get_full_name }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}


{% if is_owner %}
<ul>
  <li><a href="/{{ person.user.username }}/upload/" class="meta" id="uploadNewPhoto">Upload a photo</a></li>
  <li><a href="/{{user.username }}/videos/" class="meta" id="add_video">Videos</a> (<a href="/{{user.username }}/videos/add/" class="meta">add</a>)</li>
  <li><a href="/{{ user.username }}/location/">Change your location</a></li>
  <li><a href="/{{ user.username }}/finding/">Update your contact details</a></li>
  <li><a href="/{{ user.username }}/profile/">Edit your profile information</a></li>
  <li>{% if user.has_usable_password %}<a href="/{{ user.username }}/password/">Change your password</a>{% else %}You do not have a password set - <a href="/{{ user.username }}/password/">set one now?</a>{% endif %}</li>
</ul>
{% else%}
{% endif %}

            {% with person.get_nearest as people %}
            {% if people %}
            <h2>People near {{ person.user.first_name }}</h2>
            
            <ul class="detailsList">
                {% for person in people %}
                <li>
                    <img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}" alt="{{ person }}" class="main">
                    <h3><a href="{{ person.get_absolute_url }}">{{ person }}</a></h3>
                    <p class="meta"><a href="/{{ person.country.iso_code|lower }}/" class="nobg"><img src="/static/img/flags/{{ person.country.iso_code|lower }}.gif" alt="{{ person.country }}" title="{{ person.country }}"></a>  {{ person.location_description }}<br>{{ person.style }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    {% endblock %}
