{% extends "base.html" %}

{% block title%}{{ person }} |{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}{% load thumbnail %}
{% if person.latitude and person.longitude %}
<script type="text/javascript">
var nearby_people = [
    // latitude, longitude, name, username, location description, flag, isocode
    {% for p in person.get_nearest %}
    [{{ p.latitude }}, {{ p.longitude }}, "{{ p|escapejs }}", "{{ p.user.username|escapejs }}", "{{ p.location_description|escapejs }}", "{% if p.photo %}{% thumbnail p.photo 40x40 crop %}{% else %}/img/person_small_blank.png{% endif %}", "{{ p.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];

var person_latitude = {{ person.latitude }};
var person_longitude = {{ person.longitude }};
</script>
<script type="text/javascript" src="/js/profile.js"></script>
<style type="text/css">
#id_skills {
    width: 80%;
}
a.changeloc, h2 a.edit, div.bio a.edit {
    font-size: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
div.bio a.edit {
    font-size: 0.8em;
}
</style>
{% endif %}

{% endblock %}  

	{% block signup %}
	<a href="/signup/">
	<div id="signup">
	<p><strong>Signup today!!</strong></p>
	</div>
	</a>
	{% endblock %}


{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}

	<div id="content-box">
	<div id="profile-head">

       		<h2>{{ person.user.get_full_name|lower }}</h2>

		{% if is_owner %}
		<p class="meta"><a href="/{{ person.user.username }}/profileupload/" id="uploadNewPhoto">{% if person.photo %}Change your photo{% else %}Upload a photo{% endif %}</a>  |  <a href="/{{user.username }}/videos/add/">Link to a video</a>  |  <a href="/{{ user.username }}/profile/">Edit your profile</a>  {% if photos %}{% else %}|  <a href="/{{ user.username }}/photo/upload">Upload photos</a>{% endif %}  {% if diary_entries_private %}{% else %}|  <a href="/{{ user.username }}/diary/add">Add a diary entry</a>{% endif %}  |  <a href="/{{ user.username }}/club/"> Edit your clubs</a>  |  <a href="/{{ user.username }}/style/">Edit your styles</a></p>
		{% endif %}

		 



		<div class="profile-photo">
		{% if person.photo %}
		    <img src="{% thumbnail person.photo 150x150 crop %}" alt="{{ person }}">
		{% else %}
		    {% if is_owner %}<a href="/{{ person.user.username }}/profileupload/" id="uploadNewPhoto" title="Upload a photo for your profile!"><img src="/static/img/upload-a-photo.png" alt="blank image"></a>{% else %}<img src="/static/img/upload-a-photo.png" alt="blank image">{% endif %}
		{% endif %}


		</div>

		<div class="profile-text">
		<a href="/{{ person.country.iso_code|lower }}/" class="small-text">
		<img src="/img/flags/{{ person.country.iso_code|lower }}.gif" alt="{{ person.country }}" title="{{ person.country }}" class="flag country-name"></a>
		<span class="region">{{ person.location_description }}</span><br/>
		{% if styles %}
		<span class="small-text"><strong>Styles: </strong>
		{% for style in styles %} 
		<a href="{{ style.get_absolute_url }}">{{ style.name|title }}</a>{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</span><br/>
		{% endif %}
               
		{% if clubs %}
		    <span class="small-text"><strong>Club{{ clubs.count|pluralize }}:</strong>
		    {% for club in clubs %}
		        {% if club.url %} 
		        <a href="{{ club.get_absolute_url }}" rel="nofollow">{{ club.name }}</a>{% if not forloop.last %}, {% endif %}
		        {% else %}
    		        {{ club.name }}{% if not forloop.last %}, {% endif %}
 		        {% endif %}
   		    {% endfor %}
		    </span><br/>
		{% endif %}


		{% if person.bio %}
              	    <span class="small-text"><strong>Bio:</strong> {% filter linebreaks %}{{ person.bio|urlize|truncatewords:"50" }}{% endfilter %}</span>
		{% else %}
		    {% if is_owner %}
		    <p>You haven't written a bio yet - <a href="/{{ user.username }}/profile/">why not introduce yourself a little?</a></p>
		    {% else %}
		    {% endif %}
		{% endif %}

		</div>
	</div>


	<div id="main-content-area">

			

		{% if photos %}
		<div class="highlight">
			<div class="highlight-head">
			<h4>{{ person.user.first_name }}'s photos {% if is_owner %}(<a href="/{{ user.username }}/photo/upload">add more photos</a>){% endif %}</h4>
			</div>
			<div class="highlight-main">
			<ul class="thumbnail-list">
			{% for photo in photos %}
			<li class="thumbnail-list"><a href="{{ photo.get_absolute_url }}"><img src="{% thumbnail photo.photo 60x60 crop %}"></a></li>
			{% endfor %}
			</ul>
			</div>
		</div>
		{% endif %}

		{% if diary_entries_private %}
		<div class="highlight">
			<div class="highlight-head">
			<h4>Kungfu Diary {% if is_owner %}(<a href="/{{ user.username }}/diary/add">add another entry</a>){% endif %}</h4>	
			</div>
			<div class="highlight-main">
			{% if is_owner %}
				<ul>
				{% for entry in diary_entries_private %}
				<li class="diary-list">
				<a class="diary-title" href="diary/{{ entry.slug }}/">{{ entry.title }}</a> {% if is_owner %}<a href="/{{ person.user.username }}/diary/{{ entry.slug }}/edit/">(edit)</a> <a href="/{{ person.user.username }}/diary/{{ entry.slug }}/delete/"><img src="/static/img/delete.png"></a>{% endif %}<br/>
				<p class="diary-summary-text">{{ entry.content|striptags|truncatewords:20 }}</p>
				</li>
				{% endfor %}
				</ul>		
			{% else %}
				<ul>
				{% for entry in diary_entries_public %}
				<li class="diary-list">
				<a class="diary-title" href="diary/{{ entry.slug }}/">{{ entry.title }}</a> {% if is_owner %}<a href="/{{ person.user.username }}/diary/{{ entry.slug }}/edit/">(edit)</a> <a href="/{{ person.user.username }}/diary/{{ entry.slug }}/delete/"><img src="/static/img/delete.png"></a>{% endif %}<br/>
				<p class="diary-summary-text">{{ entry.content|striptags|truncatewords:20 }}</p>
				</li>
				{% endfor %}
				</ul>	
			{% endif %}
			</div>
		</div>
		{% endif %}

	{% if is_owner%}
	<div class="highlight">
		<p><strong>Your definition of kung fu:</strong></p>
                {% if person.what_is_kungfu %}
		<p class="quotation">&ldquo;{{ person.what_is_kungfu }}&rdquo;</p>
		<p class="small-text"><a href="/{{ person.user.username }}/profile/">(edit this quote)</a></p>
                {% else %}
                <p><em>You have not entered one yet</em></p>
		<p class="small-text"><a href="/{{ person.user.username }}/profile/">(add your own quote)</a></p>
                {% endif %}
		
	</div>
	{% endif %}
       
	</div>
	</div>

	<div id="right-column">

	<div class="right-box">
	<p class="small-text"><strong>Click on the map to see {% if is_owner %}your{% else %}{{ person.user.first_name }}'s{% endif %} location{% if is_owner %} <a href="/{{ user.username }}/location/">or click here to change your location.</a>{% else %}.{% endif %}</strong></p>

	</div>
	
		{% if not others %}
		{% else %}
		<div class="right-box">
			<h3>Other {{ person.style }} stylists</h3>
			<ul class="latest-list">	        
			{% for person in others %}
        	    		<li class="latest-list">
				<div class="list-photo"><img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/upload-a-photo-40.png{% endif %}" alt="{{ person }}" width="40" height="40" class="xxxlatest">
				</div>

 			       	<a class="list-item-title" href="{{ person.get_absolute_url }}">{{ person.user.get_full_name }}</a><br/>
				<img class="list-map-image" src="{% if person.country.iso_code %}/img/flags/{{ person.country.iso_code|lower }}.gif{% else %}/{{ person.country.flag }}{% endif %}" alt="{{ person.country }}"/><span class="small-text">{{ person.country }}</span>              
 				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}

   		{% with person.get_nearest as people %}
    		{% if people %}
		<div class="right-box">
   		<h3>People near {% if is_owner %}you{% else %}{{ person.user.first_name }}{% endif %}</h3>
				<ul class="latest-list">
			        	{% for person in people %}
        	    			<li class="latest-list">

        	        		<div class="list-photo"><img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/upload-a-photo-40.png{% endif %}" alt="{{ person }}" width="40" height="40" class="xxxlatest">
					</div>

 			       	        <a class="list-item-title" href="{{ person.get_absolute_url }}">{{ person.user.get_full_name }}</a><br/>
					<img class="list-map-image" src="{% if person.country.iso_code %}/img/flags/{{ person.country.iso_code|lower }}.gif{% else %}/{{ person.country.flag }}{% endif %}" alt="{{ person.country }}"/>
        	        		<span class="small-text">{{ person.country }}</span>              
 					</li>
        				{% endfor %}
				</ul>
		</div>
   		{% endif %}
   		{% endwith %}

	</div>

{% endblock %}
