{% extends base_template %}
{% load django_static thumbnail misc_extras %}

{% block title%}{{ person }} |{% endblock %}

{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}
{% if person.latitude and person.longitude %}
<script type="text/javascript">
var nearby_people = [
{% for p in person.get_nearest %}
  {{ p|nearby_people_escape|safe }}{% if not forloop.last %},{% endif %}
{% endfor %}
];

var PAGE_LATITUDE = {{ person.latitude }};
var PAGE_LONGITUDE = {{ person.longitude }};
</script>
{% if not OFFLINE_MODE %}
<script type="text/javascript" src="{% slimfile "/js/pagemap.js" %}"></script>
{% endif %}
<script type="text/javascript" src="{% slimfile "/js/profile.js" %}"></script>
{% if pester_first_photo or pester_first_diary_entry %}
  <script type="text/javascript">
  $(function() {
    $('a.close_tip').click(function() {
      $(this).parents('div.no-photo-box').remove();
      var params = {};
      $.get(document.location.href + $(this).attr('href'));
      return false;
    });
  });
  </script>
{% endif %}

<style type="text/css">
a.changeloc, h2 a.edit, div.bio a.edit {
    font-size: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
div.bio a.edit {
    font-size: 0.8em;
}
</style>
{% endif %}

{% endblock %}  

	{% block signup %}
	<a href="/signup/">
	<div id="signup">
	<p><strong>Signup today!!</strong></p>
	</div>
	</a>
	{% endblock %}



{% block map %}
    <div class="mapContainer minor">
        <div id="gmap">&nbsp;
        {% if OFFLINE_MODE %}
        <img src="/static/img/map-short-placeholder.png" />
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="wrapper">

	<div id="content-box">
	
	
	<div id="profile-head">

	{% if person.photo %}
		<div class="profile-photo">
		<img src="{% thumbnail person.photo 100x100 crop %}" alt="{{ person }}">
		{% if is_owner %}
		<div class="change-photo">
		<a class="small-text" href="/{{ person.user.username }}/profileupload/" id="uploadNewPhoto">
		{% if person.photo %}Change your photo
		{% else %}<strong>Upload a photo</strong>
		{% endif %}
		</a>
		</div>
		{% endif %}
		</div>

	{% else %}
		<div class="profile-photo">
		<a href="profileupload/"><img src="/static/img/upload-a-photo.png" alt="upload a photo!"></a>
		</div>
	{% endif %}
		<div id="profile-head-title">
       		<h2>{{ person.user.get_full_name|lower }}</h2>
		</div>
		{% if is_owner %}
		<div id="profile-head-toolbar">
		<p class="meta">
		<a href="/{{user.username }}/videos/add/">Link to a video</a>  |  
		<a href="/{{ user.username }}/profile/">Edit your profile</a>  
		{% if photos %}{% else %}|  <a href="/{{ user.username }}/photo/upload">Upload photos</a>{% endif %}  
		{% if diary_entries_private %}{% else %}|  <a href="/{{ user.username }}/diary/add">Add a diary entry</a>{% endif %}  |  			<a href="/{{ user.username }}/club/"> Edit clubs</a>  |  
		<a href="/{{ user.username }}/style/">Edit styles</a></p>
		</div>
		{% endif %}



	{% if is_owner %}
   
		{% if pester_first_photo %}
		<br/>
		<div class="no-photo-box">
		<div class="no-photo-box-image"><img src="/static/img/upload-a-photo.png"/></div>
		<div class="no-photo-box-main">
		<div class="no-photo-box-close"><a href="?close_tip_first_photo=1" class="meta close_tip" id="close_tip_first_photo">close</a></div>
		<p>*Why hide behind an icon - show the world your real face!</p>
		<a class="major-notice" href="profileupload/">Upload a profile photo now!</a>
		</div>
		</div>
		{% endif %}

		{% if pester_first_diary_entry %}
		<div class="no-photo-box">
		<br/>
		<div class="no-photo-box-image"><img src="/static/img/edit_page.png"/></div>
		<div class="no-photo-box-main">
		<div class="no-photo-box-close"><a href="?close_tip_first_diary_entry=1" class="meta close_tip" id="close_tip_first_diary">close</a></div>
		<p>*Use the site to keep a record of your training experiences.</p>
		<a class="major-notice" href="diary/add/">Write your first diary entry</a>
		</div>
		</div>
		<br/>
		{% endif %}
                                
	{% endif %}



		<div class="profile-text">


			<div class="bio">
			{% if person.bio %}
        	      	{% filter linebreaks %}{{ person.bio|urlize|truncatewords:"50" }}{% endfilter %}
			{% else %}
			{% if is_owner %}
			<p>You haven't written a bio yet - <a href="/{{ user.username }}/profile/">why not introduce yourself a little?</a></p>
			{% else %}
			{% endif %}
			{% endif %}
			</div>

			<div class="styles-clubs">
			{% if styles %}
			<span class="small-text"><strong><span class="dark-grey">Style{{ styles.count|pluralize }}: </span></strong>
			{% for style in styles %}
			<a href="{{ style.get_absolute_url }}">{{ style.name|title }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
			</span><br/>
			{% endif %}
 
			{% if clubs %}
			<span class="small-text"><strong><span class="dark-grey">Club{{ clubs.count|pluralize }}:</span></strong>
			{% for club in clubs %}
		        {% if club.url %} 
		        <a href="{{ club.get_absolute_url }}" rel="nofollow">{{ club.name }}</a>{% if not forloop.last %}, {% endif %}
		        {% else %}
    		        {{ club.name }}{% if not forloop.last %}, {% endif %}
 		        {% endif %}
   			{% endfor %}
		    	</span><br/>
			{% endif %}
			</div>

		</div>
	</div>

	<div id="main-content-area">
	
		{% if diary_entries_private %}
		<div class="highlight-profile">
		<h3>diary entries{% if is_owner %} <span class="small-text"><a href="/{{ user.username }}/diary/add">(add another entry)</a>{% endif %}</span></h3>	
		{% if is_owner %}
			<ul class="diary-list">
			{% for entry in diary_entries_private %}
				<li class="diary-list">
				<a class="diary-title" href="diary/{{ entry.slug }}/">
				{% if forloop.first %}<span class="red">[NEW] </span>{% endif %}{{ entry.title }}
				</a> 
				<a href="/{{ person.user.username }}/diary/{{ entry.slug }}/edit/">(edit)</a> 
				<a href="/{{ person.user.username }}/diary/{{ entry.slug }}/delete/">
				<img class="delete" src="/static/img/delete.png">
				</a>
				<br/>
				<span class="meta">{{ entry.date_added|date:"d M Y" }}  |</span>
				</li>
			{% endfor %}
			</ul>
	
		{% else %}

			<ul class="diary-list">
			{% for entry in diary_entries_public %}
				<li class="diary-list">
				<a class="diary-title" href="diary/{{ entry.slug }}/">
				{% if forloop.first %}<span class="red">[NEW] </span>{% endif %}{{ entry.title }}
				</a>
				<br/>
				<span class="meta">({{ entry.date_added|date:"d M Y" }})</span>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		</div>
	{% endif %}


	{% if photos %}
	<div class="highlight-profile">
	<h3>photos {% if is_owner %}<a href="/{{ user.username }}/photo/upload/">(add more photos)</a>{% endif %}</h3>
	{% for photo in photos %}
	<a href="{{ photo.get_absolute_url }}"><img src="{% thumbnail photo.photo 60x60 crop %}"></a>
	{% endfor %}
	</div>
	{% endif %}

	{% if videos %}
	<div class="highlight-profile">
	<h3>videos</h3>
	{% for video in videos %}
	{{ video.embed_src|safe }}
	<p>{{ video.description }}</p>
	{% endfor %}
	</div>
	{% endif %}


	</div>
	</div>


	<div id="right-column">
            {% with person.get_nearest as people %}
            {% if people %}
            <h4>People near {{ person.user.first_name }}</h4>
			<div class="region">
			<a href="/{{ person.country.iso_code|lower }}/">
			<img src="/img/flags/{{ person.country.iso_code|lower }}.gif" alt="{{ person.country }}" title="{{ person.country }}" width="16" height="11" class="flag country-name"></a>
			<span class="small-text">{{ person.location_description }}</span>
			</div>
            
	<div id="horizontal-image-listing">
            <ul class="horizontal-image-list">
                {% for person in people %}
                
                <li class="horizontal-image-list">
		<div class="list-photo">
                    <a href="{{ person.get_absolute_url }}"><img src="{% if person.photo %}{% thumbnail person.photo 60x60 crop %}{% else %}{% staticfile "/img/upload-a-photo-60.png" %}{% endif %}" alt="{{ person }}" title="{{ person }}"></a>

		</div>
                </li>
                {% endfor %}
            </ul>
	</div>
            {% endif %}
            {% endwith %}
	</div>
	



{% endblock %}
