{% extends base_template %}
{% load django_static %}
{% load misc_extras %}
{% load thumbnail %}

{% block title %}Search{% if q %}: {{ q }}{% endif %} |{% endblock %}

{% block nav_li_class_search %} class="current"{% endblock %}

{% block js %}
<script type="text/javascript">
var people = [
    {% for person in results %}
      {{ person|nearby_people_escape|safe }}{% if not forloop.last %},{% endif %}
    {% endfor %}
];
</script>
<script type="text/javascript" src="{% slimfile "/js/worldmap.js" %}"></script>
{% endblock %}

{% block header %}{% load thumbnail %}
	<form action="/search/" method="GET" class="search">
        <h1><label for="q">Search{% if q %}: {{ q }}{% endif %}</label></h1>
        {% if results %}<p class="meta">{{ results|length }} result{{ results|length|pluralize }}</p>{% endif %}
        {% if has_badwords %}<p class="help"><strong>Terms must be three or more characters</strong></p>{% endif %}
		<p><input type="text" name="q" id="q" value="{{ q }}"> <input type="submit" class="submit" value="Search"></p>
		
</form>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}


{% block content %}
<div class="wrapper">

	<div id="content-box">

{% if q and not results %}
<p>No users found. This tool searches by username, first name and last name.</p>
{% endif %}


{% if results %}

        
		<p>Showing {{ count }} stylist{% ifequal count 1 %}{% else %}s{% endifequal %} located in: {% for person in people %}<a href="/{{ person.country.iso_code|lower }}/">{{ person.country }}</a>, {% endfor %}</p>
                
{% if results %}
        <ul class="detailsList split">
            {% load person_list_items %}{% person_list_items results %}
        </ul>
{% endif %}
{% endif %}        

	

{% endblock %}
