{% extends "base.html" %}

{% block title %}Search{% if q %}: {{ q }}{% endif %} |{% endblock %}

{% block nav_li_class_search %} class="current"{% endblock %}

{% block js %}{% load thumbnail %}
{% if results %}
<script type="text/javascript">
var people = [
    // latitude, longitude, name, username, location description
    {% for person in results %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/img/person_small_blank.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];
</script>
<script type="text/javascript" src="/js/search.js"></script>
{% endif %}
{% endblock %}

{% block header %}{% load thumbnail %}
	<form action="/search/" method="GET" class="search">
        <h1><label for="q">Search{% if q %}: {{ q }}{% endif %}</label></h1>
        {% if results %}<p class="meta">{{ results|length }} result{{ results|length|pluralize }}</p>{% endif %}
        {% if has_badwords %}<p class="help"><strong>Terms must be three or more characters</strong></p>{% endif %}
		<p><input type="text" name="q" id="q" value="{{ q }}"> <input type="submit" class="submit" value="Search"></p>
		
</form>
{% endblock %}

{% block map %}
{% if results %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% if q and not results %}
<p>No users found. This tool searches by username, first name and last name.</p>
{% endif %}
{% if results %}
        <ul class="detailsList split">
            {% load person_list_items %}{% person_list_items results %}
        </ul>
{% endif %}
{% endblock %}

