{% extends "base.html" %}

{% block title %}Sign up |{% endblock %}

{% block nav_li_class_signup %} class="current"{% endblock %}>

{% block extracss %}
<link rel="stylesheet" href="/css/flags.css" type="text/css"/>
<style type="text/css">
#id_location_description {
    width: 18em;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jquery.color.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>
{% endblock %}

{% block header%}
<h1>Sign up as a {{ PROJECT_MARTIAL_ART }} Person</h1>
{% endblock %}

{% block map %}

	<div class="mapContainer major">
        		<div id="gmap">&nbsp;</div>
	</div>
{% endblock %}

{% block content %}
	<div id="content-box">
    		<form method="post" action="/signup/">
    		<h2>1. Create your account</h2> 


    	<fieldset>
	<div class="form-field-outer">
		<div class="form-field-left">
        		<label for="id_first_name">First name *</label>
        		{{ form.first_name.errors }}
		</div>
		<div class="form-field-right">
			{{ form.first_name }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
        		<label for="id_last_name">Last name *</label>
       			{{ form.last_name.errors }}
		</div>
		<div class="form-field-right">
       			{{ form.last_name }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
 			<label for="id_email">E-mail *</label>
 			{{ form.email.errors }}
		</div>
		<div class="form-field-right">
       			{{ form.email }}  <span class="form-hint">(<strong>Note!</strong> Your email will not be made public)</span>
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
		            <label for="id_username">Username *</label>
		            {{ form.username.errors }}
		</div>
		<div class="form-field-right">
       			{{ form.username }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
		            <label for="id_password1">Password *</label>
		            {{ form.password1.errors }}
		</div>
		<div class="form-field-right">
       			    {{ form.password1 }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
		            <label for="id_password2">Password (again) *</label>
 		            {{ form.password2.errors }}
		</div>
		<div class="form-field-right">
       			    {{ form.password2 }}
		</div>
	</div>
	</fieldset>
    
    <h2>3. Tell us about yourself</h2>

    <fieldset>

	<div class="form-field-outer">
		<div class="form-field-left">
            		{{ form.style.errors }}
            		<label for="id_style">Style</label>
		</div>
		<div class="form-field-right">
			{{ form.style }}  <br/><span class="form-hint">(eg. White Crane, Shaolin, etc.)</span>
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
            		{{ form.club_url.errors }}
            		<label for="id_club_url">Club URL</label>
		</div>
		<div class="form-field-right">
			{{ form.club_url }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
            		{{ form.club_name.errors }}
            		<label for="id_club_name">Club Name</label>
		</div>
		<div class="form-field-right">
			 {{ form.club_name }} 
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
			<label for="id_note">Note!</label>
		</div>
		<div class="form-field-right">
			<span class="small-text">(You'll have the chance to add more stuff to your profile later, but for now, let's keep it simple!)</span> 
		</div>
	</div>

    </fieldset> 
	   



	    <h2>4. Finish!</h2>

	<p>To create your profile on {{ PROJECT_NAME }} and add yourself to the growing community, click the button below.</p>
	<p><em><span class="form-hint">Your data is stored securely and will not be shared with third parties, but if you're concerned, read our <a href="/privacy/">privacy policy</a>.</span></em></p>
    

			<p>
			<div class="button-outer">
    			<div class="buttonContainer">
    	    		<input type="submit" value="Submit">
    			</div>
			</div>
			</p>




	</div>

	<div id="right-column">
	<div class="right-box">
	    	<h2>2. Where do you train?</h2>
	    	<p>Click on the map above to set your location.</p>
    <fieldset>

	<div id="location">
            	<label for="id_location_description">Location *</label>
            	{{ form.location_description.errors }}
		<br/>
		{{ form.location_description }}  <br/><span class="form-hint">(You can customize this if you like - it has been guessed from the map coordinates above.)</span>
	</div>

	<div id="country">
            	<label for="id_country">Country</label>
            	{{ form.country.errors }}
		<br/>
		{{ form.country }}
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.latitude.errors }}
            		<label for="id_latitude">Latitude</label>
		</div>
		<div class="form-field-right">
			{{ form.latitude }}
		</div>
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.longitude.errors }}
            		<label for="id_longitude">Longitude</label>
		</div>
		<div class="form-field-right">
			{{ form.longitude }}
		</div>
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.region.errors }}
            		<label for="id_region">Region</label>
		</div>
		<div class="form-field-right">
			{{ form.region }}
		</div>
	</div>

    </fieldset>
    </form>
	</div>
	</div>
</div>
{% endblock %}
