{% extends "base.html" %}

{% block title %}Sign up |{% endblock %}

{% block nav_li_class_signup %} class="current"{% endblock %}>

{% block js %}
<script src="http://www.google.com/jsapi?key={{ api_key }}" type="text/javascript">
</script>
<script type="text/javascript" src="/static/js/jquery.color.js"></script>
<script type="text/javascript" src="/static/js/signup.js"></script>
<link rel="stylesheet" href="/static/css/flags.css" type="text/css">
<style type="text/css">
#id_location_description {
    width: 24em;
}
</style>
{% endblock %}

{% block header%}
<h1>Sign up as a Kung Fu Person</h1>
{% endblock %}

{% block content %}
    <form method="post" action="/signup/">
    <h2>1. Tell us who you are</h2>    

    <fieldset>
        <div class="fieldWrapper">
            {{ form.first_name.errors }}
            <label for="id_first_name">First name *</label>
            {{ form.first_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.last_name.errors }}
            <label for="id_last_name">Last name *</label>
            {{ form.last_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <label for="id_email">E-mail *</label>
            {{ form.email }}
        </div>
        {% if not openid %}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="id_username">Username *</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password1.errors }}
            <label for="id_password1">Password *</label>
            {{ form.password1 }}
        </div>
        <div class="fieldWrapper">
            {{ form.password2.errors }}
            <label for="id_password2">Password (again) *</label>
            {{ form.password2 }}
        </div>
        {% endif %}
    
    </fieldset>
{% endblock %}

{% block extra %}
<div class="content">
    <h2>2. Tell us where you live</h2>
    <p class="help"><strong>Zoom and center the map on your location</strong>. Your map location will be shared in public, so only make it as accurate as makes you comfortable.</p>
</div>

<div class="mapContainer major" id="mapWrapper">
    <div id="gmap">&nbsp;</div>
    <div id="crosshair"></div>
</div>

<div class="content">
    <fieldset>
        <div class="fieldWrapper" id="location">
            {{ form.location_description.errors }}
            <label for="id_location_description">Location *</label>
            {{ form.location_description }}
        </div>
        <p class="help">A short textual description of your location will be displayed on the site. We attempt to derive this from your position on the map, but you can customise it if you like.</p>
        <div class="fieldWrapper country">
            {{ form.country.errors }}
            <label for="id_country">Country</label>
            {{ form.country }}
        </div>
        <div class="fieldWrapper">
            {{ form.latitude.errors }}
            <label for="id_latitude">Latitude</label>
            {{ form.latitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.longitude.errors }}
            <label for="id_longitude">Longitude</label>
            {{ form.longitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.region.errors }}
            <label for="id_region">Region</label>
            {{ form.region }}
        </div>
    </fieldset>
    
    <h2>3. And a bit about you ...</h2>

    <fieldset>
        <div class="fieldWrapper">
            {{ form.bio.errors }}
            <label for="id_bio">Bio</label>
            {{ form.bio }}
        </div>
        <div class="fieldWrapper">
            {{ form.style.errors }}
            <label for="id_style">Style</label>
            {{ form.style }}
        </div>
        <div class="fieldWrapper">
            {{ form.personal_url.errors }}
            <label for="id_personal_url">Personal URL</label>
            {{ form.personal_url }}
        </div>
        <div class="fieldWrapper">
            {{ form.club_url.errors }}
            <label for="id_club_url">Club URL</label>
            {{ form.club_url }}
        </div>
        <div class="fieldWrapper">
            {{ form.club_name.errors }}
            <label for="id_club_name">Club Name</label>
            {{ form.club_name }}
        </div>

    </fieldset>


    <h2>4. Your privacy settings</h2>
    <fieldset>
        <p class="help">You can set your profile page not to show up in external search engine results (such as Google or Yahoo!)</p>
        <div class="fieldWrapper radioSelect">
            {{ form.privacy_search.errors }}
            <label for="id_privacy_search">Search visibility</label>
            {{ form.privacy_search }}
        </div>
        <div class="fieldWrapper radioSelect">
            {{ form.privacy_email.errors }}
            <label for="id_privacy_email">E-mail privacy</label>
            {{ form.privacy_email }}
        </div>
    </fieldset>
    
    
    <div class="buttonContainer"><input type="submit" value="Sign me up"></div>
    </form>
</div>
{% endblock %}
