{% extends base_template %}
{% load django_static %}

{% block title %}Sign up |{% endblock %}

{% block nav_li_class_signup %} class="current"{% endblock %}>

{% block extracss %}
<link rel="stylesheet" href="{% slimfile "/css/flags.css" %}" type="text/css">
<link rel="stylesheet" href="{% slimfile "/css/jquery.autocomplete.css" %}" type="text/css">
<style type="text/css">
#id_location_description {
    width: 18em;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% staticfile "/js/jquery.autocomplete.min.js" %}"></script>
<script type="text/javascript">
var ALL_CLUBS = {{ all_clubs_js|safe }};
var CLUB_NAMES = new Array();
var CLUB_URLS = new Array();

$.each(ALL_CLUBS, function (i, e) {
  CLUB_NAMES.push(e.name);
  CLUB_URLS.push(e.url);
  if (e.url.substr(0, 7) == 'http://')
    CLUB_URLS.push(e.url.substr(7, e.url.length));
});

$(function () {
  $('#id_club_name').autocomplete(CLUB_NAMES)
    .result(function(event, item) {
      $.each(ALL_CLUBS, function (i, e) {
        if (e.name == item) {
          $('#id_club_url').val(e.url);
        }
      });
   });
  
  $('#id_club_url').autocomplete(CLUB_URLS)
    .result(function(event, item) {
        item = "" + item; // change to string
        $.each(ALL_CLUBS, function (i, e) {
          if (item.substr(0, 7) == 'http://') {
            if (e.url == item) {
              $('#id_club_name').val(e.name);
            }
          } else {
            if (e.url == 'http://' + item) {
              $('#id_club_name').val(e.name);
            }
          }
        });
        if ($('#id_club_url').val().substr(0,4) == 'www.')
          $('#id_club_url').val('http://' + $('#id_club_url').val());
          
   }).bind('change', function() {
     if ($(this).val().substr(0,7) != 'http://')
       $(this).val('http://' + $(this).val());
   });
   
});
</script>

<script type="text/javascript" src="{% staticfile "/js/jquery.color.js" %}"></script>
<script type="text/javascript" src="{% staticfile "/js/jquery.qtip-1.0.0-rc3.js" %}"></script>
{% if base_location %}
<script type="text/javascript">
var LOCATION_BY_IP=true;
var INITIAL_LAT = {{ base_location.lat }};
var INITIAL_LON = {{ base_location.lng }};
var INITIAL_ZOOM = 4;
</script>
{% else %}
<script type="text/javascript">
var LOCATION_BY_IP=false;
</script>
{% endif %}
<script type="text/javascript" src="{% slimfile "/js/signup-core.js" %}"></script>
<script type="text/javascript" src="{% slimfile "/js/signup.js" %}"></script>

{% endblock %}

{% block header%}
<h1>Sign up as a {{ PROJECT_MARTIAL_ART }} Person</h1>
{% endblock %}

{% block map %}

	<div class="mapContainer major">
        		<div id="gmap">&nbsp;</div>
	</div>
{% endblock %}

{% block content %}
	<div id="content-box" style="display:none">
    		<form method="post" action="{% url signup %}">
    		<h2>1. Create your account</h2> 


    	<fieldset>
	<div class="form-field-outer">
		<div class="form-field-left">
        		<label for="id_first_name">First name *</label>
        		{{ form.first_name.errors }}
		</div>
		<div class="form-field-right">
			{{ form.first_name }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
        		<label for="id_last_name">Last name *</label>
       			{{ form.last_name.errors }}
		</div>
		<div class="form-field-right">
       			{{ form.last_name }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
 			<label for="id_email">E-mail *</label>
 			{{ form.email.errors }}
		</div>
		<div class="form-field-right">
       			{{ form.email }}  <span class="form-hint">(<strong>Note!</strong> Your email will not be made public)</span>
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
		            <label for="id_username">Username *</label>
		            {{ form.username.errors }}
		</div>
		<div class="form-field-right">
       			{{ form.username }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
		            <label for="id_password1">Password *</label>
		            {{ form.password1.errors }}
		</div>
		<div class="form-field-right">
       			    {{ form.password1 }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
		            <label for="id_password2">Password (again) *</label>
 		            {{ form.password2.errors }}
		</div>
		<div class="form-field-right">
       			    {{ form.password2 }}
		</div>
	</div>
	</fieldset>
    
    <h2>2. Tell us about yourself</h2>

    <fieldset>

        {% comment %}
	<div class="form-field-outer">
		<div class="form-field-left">
            		{{ form.style.errors }}
            		<label for="id_style">Style</label>
		</div>
		<div class="form-field-right">
			{{ form.style }}  <br/><span class="form-hint">(eg. White Crane, Shaolin, etc.)</span>
		</div>
	</div>
        {% endcomment %}

	<div class="form-field-outer">
		<div class="form-field-left">
            		{{ form.club_url.errors }}
            		<label for="id_club_url">Club URL</label>
		</div>
		<div class="form-field-right">
			{{ form.club_url }}
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
            		{{ form.club_name.errors }}
            		<label for="id_club_name">Club Name</label>
		</div>
		<div class="form-field-right">
			 {{ form.club_name }} 
		</div>
	</div>

	<div class="form-field-outer">
		<div class="form-field-left">
			<label for="id_note">Note!</label>
		</div>
		<div class="form-field-right">
			<span class="small-text">(You'll have the chance to add more stuff to your profile later, but for now, let's keep it simple!)</span> 
		</div>
	</div>

    </fieldset> 
	   



	    <h2>3. Finish!</h2>

	<p>To create your profile on {{ PROJECT_NAME }} and add yourself to the growing community, click the button below.</p>
	<p><em><span class="form-hint">Your data is stored securely and will not be shared with third parties, but if you're concerned, read our <a href="/privacy/">privacy policy</a>.</span></em></p>
    

			<p>
			<div class="button-outer">
    			<div class="buttonContainer">
    	    		<input type="submit" value="Submit">
    			</div>
			</div>
			</p>




	</div>

	<div id="right-column" {% if not form.errors %}style="display:none"{% endif %}>
	<div class="right-box">
	    	<h2>Where do you train?</h2>
                {% if base_location %}
	    	<p>Drag the marker on the map to correct your location.</p>
                {% else %}
	    	<p>Click on the map above to set your location.</p>
                {% endif %}
        <fieldset>

	<div id="location" {% if not form.location_description.errors %}style="display:none"{% endif %}>
            	<label for="id_location_description">Location *</label>
            	{{ form.location_description.errors }}
		<br>
		{{ form.location_description }}
		<br>
		<span class="form-hint">(You can customize this if you like - it has been guessed from the map coordinates above.)</span>
	</div>

	<div id="country" {% if not form.country.errors %}style="display:none"{% endif %}>
            	<label for="id_country">Country</label>
            	{{ form.country.errors }}
		<br/>
		{{ form.country }}
	</div>

	<div class="form-field-outer" style="display:none">
		<div class="form-field-left">
            		{{ form.latitude.errors }}
            		<label for="id_latitude">Latitude</label>
		</div>
		<div class="form-field-right">
			{{ form.latitude }}
		</div>
	</div>

	<div class="form-field-outer" style="display: none;">
		<div class="form-field-left">
            		{{ form.longitude.errors }}
            		<label for="id_longitude">Longitude</label>
		</div>
		<div class="form-field-right">
			{{ form.longitude }}
		</div>
	</div>

	<div class="form-field-outer" style="display:none">
		<div class="form-field-left">
            		{{ form.region.errors }}
            		<label for="id_region">Region</label>
		</div>
		<div class="form-field-right">
			{{ form.region }}
		</div>
	</div>

        </fieldset>
	</div><!--/.right_box-->
    </form>
	</div>
</div>
{% endblock %}
