{% extends base_template %}
{% load django_static %}
{% load misc_extras %}
{% load thumbnail %}

{% block title%}{{ style }} |{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}
<script type="text/javascript">
var people = [
    // latitude, longitude, name, username, location description, flag, isocode
    {% for p in people %}
      {{ p|nearby_people_escape|safe }}{% if not forloop.last %},{% endif %}
    {% endfor %}
];
</script>
<script type="text/javascript" src="{% slimfile "/js/worldmap.js" %}"></script>
{% endblock %}  

{% block css %}
<style type="text/css">
#id_skills {
    width: 80%;
}
a.changeloc, h2 a.edit, div.bio a.edit {
    font-size: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
div.bio a.edit {
    font-size: 0.8em;
}
</style>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>

	<div class="counter-current">
	<div class="number">{{ count }}</div> {% ifequal count 1 %}person does {% else %}people do {% endifequal %}{{ style }}!<br />
	<a href="/signup">Add yourself now!</a>
	</div>

	<div class="counter">
	<div class="number"></div><strong>ZOOM!</strong> Find clubs, styles and people<br />
	<a href="/zoom">Try it out now.</a>
	</div>
{% endblock %}

{% block content %}
<div class="wrapper">


	<div id="content-box">

		<div id="profile-head">


		{% if style.photo %}
		    <img src="{% thumbnail club.photo 100x100 crop %}" alt="{{ style }}" class="profile-photo">
		{% else %}
		{% endif %}

       		<h2>{{ style.name }}</h2>

		</div>

		<div class="highlight-profile">
		<h3>stylists</h3>
	<div id="horizontal-image-listing">
		<div class="horizontal-image-list-text">This style has {{ count }} stylist{% ifequal count 1 %}{% else %}s{% endifequal %} located in: {% for person in people|uniqify_on:"country" %}<a href="/{{ person.country.iso_code|lower }}/">{{ person.country }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
		<ul class="horizontal-image-list">
		{% for person in people %}
        	<li class="horizontal-image-list">
       	        <div class="list-photo">
                <a href="{{ person.get_absolute_url }}">
                <img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}{% staticfile "/img/upload-a-photo-40.png" %}{% endif %}" alt="{{ person }}" width="40" height="40" title="{{ person.user.get_full_name }}">
		</a>
		</li>
        	{% endfor %}
		</ul>
	</div>
		</div>


		{% if diaries %}
		<div class="highlight-profile">
		<h3>Posts written by {{ style }} stylists</h3>
		<ul class="diary-list">
		{% for entry in diaries %}
		<li class="diary-list">
		<a class="diary-title" href="/{{ entry.user.username }}/diary/{{ entry.slug }}/">{{ entry.title }}</a>
		<br/>
		<p class="diary-summary-text">{{ entry.content|striptags|truncatewords:20 }}</p>
		<p class="meta"><a href="/{{ entry.user.username }}">{{ entry.user.get_full_name }}</a>  |  {{ entry.date_added|date:"d M Y" }}  |</p> 
		</li>
		</ul>

		{% endfor %}

		</div>
		{% endif %}
       
	</div>

	
	<div id="right-column">

	<div class="right-box">

	</div>

	<div class="right-box">

		<h4>Want to learn kung fu?</h4><p>Thinking about joining a kung fu club? Read some of <a href="/join-kungfu-club-tips/">our tips for joining a club...</a></p>
		
   	</div>

	</div>

</div>

{% endblock %}
