{% extends "base_no_map.html" %}
{% load django_static %}
{% load misc_extras %}
{% load thumbnail %}

{% block title%}{{ style }} |{% endblock %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}
{% endblock %}  

{% block css %}
<style type="text/css">
#id_skills {
    width: 80%;
}
a.changeloc, h2 a.edit, div.bio a.edit {
    font-size: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
div.bio a.edit {
    font-size: 0.8em;
}
</style>
{% endblock %}

{% block map %}


{% endblock %}

{% block content %}


		<div id="profile-head">


		{% if style.photo %}
		    <img src="{% thumbnail club.photo 100x100 crop %}" alt="{{ style }}" class="profile-photo">
		{% else %}
		{% endif %}

       		<h2>{{ style.name }}</h2>
                
                {% if request.user.is_superuser %}
                <div class="admin-only">
                <h4>Admins only</h4>
                # clicks: <code>{{ style.clicks }}</code>
                </div>
                {% endif %}

		</div>

		<div class="highlight-profile">
		<h3>stylists</h3>
	<div id="horizontal-image-listing">
		<div class="horizontal-image-list-text">This style has {{ count }} stylist{% ifequal count 1 %}{% else %}s{% endifequal %} located in: {% for person in people|uniqify_on:"country" %}<a href="/{{ person.country.iso_code|lower }}/">{{ person.country }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
		<ul class="horizontal-image-list">
		{% for person in people %}
        	<li class="horizontal-image-list">
       	        <div class="list-photo">
                <a href="{{ person.get_absolute_url }}">
                <img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}{% staticfile "/img/upload-a-photo-40.png" %}{% endif %}" alt="{{ person }}" width="40" height="40" title="{{ person.user.get_full_name }}">
		</a>
		</li>
        	{% endfor %}
		</ul>
	</div>
		</div>
                
                {% if clubs %}
                <div class="highlight-profile">
		<h3>Clubs where stylists do {{ style }}</h3>
                <ul class="club-list">
		{% for club in clubs %}
		<li class="club-list">
		<a class="club-name" href="{{ club.get_absolute_url }}">{{ club.name }}</a>
		</li>
		{% endfor %}
                </ul>
                </div>
                {% endif %}


	
       
	</div>

	
	<div id="right-column">

	<div class="right-box">

	</div>

	<div class="right-box">

		<h4>Want to learn kung fu?</h4><p>Thinking about joining a kung fu club? Read some of <a href="/join-kungfu-club-tips/">our tips for joining a club...</a></p>
		
   	</div>

	</div>

</div>

{% endblock %}
