{% extends "base_no_map.html" %}
{% load thumbnail %}

{% block title %}{{ video.title|title }} | Video |{% endblock %}

{% block extracss %}

{% endblock %}

{% block content %}


<div id="content-box">



	    <div class="video-full">

	      {{ video.embed_src|safe }}


	    </div>

	</div>

</div>

<div id="right-column">
	<div class="right-box">

		<h3>{{ video.title }}</h3>
		<p class="meta">{{ video.add_date|date:"d M Y" }} | 
		{% if is_owner %} 
		<a href="/{{ person.user.username }}/videos/add/">Add another</a>  | 
		<a href="delete">Delete</a> |
		<a class="small-text" href="/{{ person.user.username }}">(back to your profile)</a>
		{% else %}
		<a href="/{{ person.user.username }}">{{ person.user.get_full_name }}</a>
		{% endif %}
		</p>

		<p>{{ video.description }}</p>
		<br/>
		

		<h3>Other recent videos</h4>
		{% for video in recent %}
		<div class="video-thumb">
			<a href="{{ video.get_absolute_url }}"><img src="{{ video.thumbnail_url }}" height="60" width="60"/></a>
			<strong><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></strong>
			<p class="meta">{{ video.description|truncatewords:20 }}</p>
		</div>	
		{% endfor %}

	</div>	
</div>

{% endblock %}

