{% extends "base_no_map.html" %}
{% load django_static thumbnail %}

{% block title %}The Wall - All Kungfu People |{% endblock %}

{% block nav_li_class_login %} class="current"{% endblock %}>

{% block extracss %}
<style type="text/css">
{% slimcontent %}

p.promo {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}
{% endslimcontent %}
</style>

{% endblock %}


{% block content %}
	<div id="main-content-area">
	<h2>the wall</h2>

	<h3>Latest new members</h3>
	{% for person in latest_five %}
	<a href="{{ person.get_absolute_url }}">
	<img src="{% if person.photo %}{% thumbnail person.photo 60x60 crop %}{% else %}{% staticfile "/img/upload-a-photo-60.png" %}{% endif %}" title="{{ person.user.get_full_name }}">
	</a>	
	{% endfor %}

	<p></p>
	<h3>All other members ({{ other_people.count }})</h3>
	<div class="horizontal-photos">
	{% for person in other_people %}
	<a href="{{ person.get_absolute_url }}">
	<img src="{% if person.photo %}{% thumbnail person.photo 60x60 crop %}{% else %}{% staticfile "/img/upload-a-photo-60.png" %}{% endif %}" title="{{ person.user.get_full_name }}">
	</a>	
	{% endfor %} 
	</div>  
	</div>
	</div>

<div id="right-column">
	<h3>Recent activity</h3>
	<ul>
	{% for thing in latest_things %}
		{% ifequal thing.type "Video"%}
		{{ thing.person }} just linked a new video
		{% endifequal %}

		{% ifequal thing.type "photo"%}
		{{ thing.person }} just uploaded some new photos
		{% endifequal %}

		{% ifequal thing.type "DiaryEntry"%}
		<a href="{{ thing.url }}">{{ thing.person }} just wrote a new a new blog</a>
		{% endifequal %}
		<br/>


	<br/>

	{% endfor %}
	</ul>
</div>  

{% endblock %}
