{% extends "base_no_map.html" %}
{% load django_static thumbnail %}

{% block title %}The Wall - All Kungfu People |{% endblock %}

{% block nav_li_class_login %} class="current"{% endblock %}>

{% block extracss %}
<style type="text/css">
{% slimcontent %}

p.promo {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}
{% endslimcontent %}
</style>

{% endblock %}


{% block content %}
	<h2>the wall</h2>
	<p class="promo">Showing all current users ({{ people.count }})</p>
	<div class="horizontal-photos">
	{% for person in people %}
	<a href="{{ person.get_absolute_url }}">
	<img src="{% if person.photo %}{% thumbnail person.photo 60x60 crop %}{% else %}{% staticfile "/img/upload-a-photo-60.png" %}{% endif %}" title="{{ person.user.get_full_name }}">
	</a>	
	{% endfor %} 
	</div>    

{% endblock %}
