{% extends "base_no_map.html" %}
{% load django_static %}
{% block title%}Webcam a profile photo |{% endblock %}

{% block js %}{% load thumbnail %}{% endblock %}
{% block map %}{% endblock %}

    {% block content %}
        <script type="text/javascript" src="/webcam/webcam.js"></script>
	<script language="JavaScript">
		webcam.set_quality( 95 ); // JPEG quality (1 - 100)
		webcam.set_shutter_sound( true ); // play shutter click sound
                webcam.swf_url = '{% staticfile "/webcam/webcam.swf" %}';
                webcam.shutter_url = '{% staticfile "/webcam/shutter.mp3" %}';
	</script>

	<script language="JavaScript">
		webcam.set_hook( 'onComplete', 'my_completion_handler' );
                
                function capture_and_dump() {
                    webcam.freeze();
                    setTimeout(function() {
                      webcam.dump();
                    }, 500);
                    
                    setTimeout(function() {
                      webcam.reset();
                    }, 500);
                }
                
                function discard_preview() {
                    $('#id_image_data').val('');
                    $('#snap_button').val("Snap!");
                    $('#preview-new-photo:visible').hide();
                    
                }
		
		
		function my_completion_handler(base64) {
                        $('#preview-new-photo img').attr('src', 'data:image/jpeg;base64,' + base64);
                        $('#your-current-photo:visible').hide();
                        $('#preview-new-photo:hidden').show(100);
                        
                        $('#snap_button').val("Snap again!");
                        $('#id_image_data').val(base64);
                        
		}
	</script>

        <h2>{% if person.photo %}Webcam a new profile photo{% else %}Webcam a profile photo{% endif %}</h2>
	<p><!-- --></p>

        <form enctype="multipart/form-data" method="post" action=".">

        {{ form.image_data.errors }}
        {{ form.image_data }}

        <table>
          <tr>
            <td valign="top" align="center">
			<script language="JavaScript">
			document.write( webcam.get_html(320, 240) );
			</script>
                        <br>
	<!--<div class="form-field-submit">-->
		<div class="button-outer">
    		<div class="buttonContainer">
    		<input id="snap_button" type="button" value="Snap!" onclick="capture_and_dump()"/>
                <a href="#" onclick="webcam.configure();return false;">Configure your webcam</a>
    		</div>
		</div>
	
	<!--</div>-->
            
            </td>
            
            <td valign="top" align="center">
            
        
          <div id="preview-new-photo" style="display:none">
          <img src=""/>
          
         	<div class="form-field-submit">
		<div class="button-outer">
    		<div class="buttonContainer">
    		<input type="submit" value="Upload and save"/>
                <a href="#" onclick="discard_preview();return false;">Oh no! Discard!</a>
    		</div>
		</div>
                </div>
                
             <br style="clear:left">
          </div>
        
            </td>
          </tr>
        </table>
            



            </form>
        </div>

	<div id="right-column">
	<div class="right-box">
        
        <div id="your-current-photo">
	<h3>Your current photo</h3>
	{% if person.photo %}
		<div class="profile-photo">
 		<img class="photo-left" src="{% thumbnail person.photo 100x100 crop %}">
		</div>
                <p>
                <a href="{% url crop_profile_photo person.user.username %}">Want to crop this one again?</a>
                </p>
	{% else %}
		<img xxxclass="photo-left" src="/img/photo-background-119.png"/>
	{% endif %}
	</div>
        </div>


	</div>
    {% endblock %}
