{% extends "base_no_map.html" %}
{% load django_static %}

{% block title%}Congratulations |{% endblock %}

{% block js %}{% endblock %}
{% block map %}{% endblock %}

    {% block content %}

            <h2>Congratulations!</h2>

	    <p><strong>You've successfully created a profile on {{ PROJECT_NAME }}!</strong></p>

	<br clear="all"/>
		
		<div class="photo-left"><img src="{% staticfile "/img/photo-background-119.png" %}"/></div>
		*More people will look at your profile if you add an image - fact!<br/>
		<a class="major-notice" href="/{{ person.user.username }}/profileupload/">Upload a profile photo now!</a>


<p><em><a href="/{{ person.user.username }}/">(or just click here to view your profile)</a></em></p>


    {% endblock %}
