{% load thumbnail misc_extras %}
{% if include_photo %}
{% if person.photo %}<img class="list-photo" src="{% thumbnail person.photo 60x60 crop %}" alt="photo">{% endif %}
{% endif %}
<h2><a href="{{ person.get_absolute_url }}">{{ person.user.get_full_name }}</a></h2>

			<div class="region">
			<a href="{% url country person.country.iso_code|lower %}"
                        ><img src="{{ person.country.iso_code|country_flag_src }}" alt="{{ person.country }}" title="{{ person.country }}" width="16" height="11" class="flag country-name"></a>
			{{ person.location_description }}
			</div>


			<div class="styles-clubs">
			{% if styles %}
			<span class="small-text"><strong><span class="dark-grey">Style{{ styles.count|pluralize }}: </span></strong>
			{% for style in styles %}
			<a href="{{ style.get_absolute_url }}">{{ style.name|title }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
			</span><br>
			{% endif %}
 
			{% if clubs %}
			<span class="small-text"><strong><span class="dark-grey">Club{{ clubs.count|pluralize }}:</span></strong>
			{% for club in clubs %}
		        {% if club.url %}
		        <a href="{{ club.get_absolute_url }}">{{ club.name }}</a>{% if not forloop.last %}, {% endif %}
		        {% else %}
    		        {{ club.name }}{% if not forloop.last %}, {% endif %}
 		        {% endif %}
   			{% endfor %}
		    	</span><br/>
			{% endif %}
			</div>

<p>
</p>