{% extends base_no_map_template %}
{% load django_static %}

{% block title%}{% if html_title %}{{ html_title }}{% else %}Photo{% endif %} |{% endblock %}

{% if meta_description %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% endif %}

{% block nav_li_class_profile %}{% if is_owner %} class="current"{% endif %}{% endblock %}

{% block js %}{% load thumbnail %}
{% if photo.latitude and photo.longitude %}
<script type="text/javascript">
var PERSON = {{ photo_location_json|safe }};
var PAGE_LATITUDE = {{ photo.latitude }};
var PAGE_LONGITUDE = {{ photo.longitude }};
var ZOOM = 10;
</script>
<script type="text/javascript" src="{% slimfile "/js/worldmap.js" %}"></script>
<script type="text/javascript" src="{% slimfile "/js/pagemap.js" %}"></script>
{% endif %}

{% endblock %}  


{% block content %}

	<div id="profile-head">
	<h2>{{ person.user.get_full_name }}'s photos</h2>
		{% if is_owner %}
		<a class="small-text" href="{% url person.view person.user.username %}">(back to your profile)</a>
		{% endif %}


		<div class="large-photo-container">
                {% thumbnail photo.photo 470x470 as thumb %}
      		<img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
		</div>
	</div>
</div>


<div id="right-column">

	<div class="right-box">

		<h3>This photo</h3>
	
		<p><em>{{ photo.description|linebreaks }}</em></p>

		<p class="meta">{{ photo.date_added|date:"d M Y" }} | {{ photo.location_description }} ({{ photo.country.iso_code }})  |  
		{% if is_owner %} 
		<a href="edit">Edit</a>  |  
		<a href="delete">Delete</a> 
		{% else %}
		<a href="/{{ person.user.username }}">{{ person.user.get_full_name }}</a>
		{% endif %}

		</p>

		<br clear="all"/>
		<h3>Other photos by {{ person.user.first_name }}</h3>
		{% for photo in person.get_photos %}
		<div class="person-listing-photo">
		<a href="{{ photo.get_absolute_url }}" title="{{ photo.description }}">
		<img src="{% thumbnail photo.photo 40x40 crop %}" alt="{{ photo.description }}">
		</a>
		</div>
		{% endfor %}

		<br clear="all"/>
	


        	{% if photo.diary_entry %}
        	<p>Related to diary entry
        	<a href="{{ photo.diary_entry.get_absolute_url }}">{{ photo.diary_entry }}</a></p>
        	{% endif %}
        	


	</div>

</div>

{% endblock %}
