<html>
<head>
<link href="/css/swfupload.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h1>SWF upload test</h1>
<form action="." method="post" enctype="multipart/form-data">
<!--<input name="Filename" value="Foo.jpg" />-->
<!--<input type="file" name="Filedata" id="id_photo" size="40"/>-->

<div class="fieldset flash" id="fsUploadProgress" style="display:none">
    <span class="legend">Upload Queue</span>
</div>
                                                
<span id="spanButtonPlaceHolder"></span>
<input type="button" id="btnCancel" value="Cancel all uploads" 
  onclick="swfu.cancelQueue();" disabled="disabled"/>
<span id="divStatus" style="display:none">0 Files Uploaded</span>
<br/><br/>
<input type="submit"/>
</form>

<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="/js/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="/js/swfupload/fileprogress.js"></script>
<script type="text/javascript" src="/js/swfupload/handlers.js"></script>

<script type="text/javascript">
var swfu;

$(function() {


  var settings = {
    flash_url : "/js/swfupload/swfupload.swf",
    upload_url: "/swf_upload_test/",
    post_params: {},
    file_size_limit : "100 MB",
    file_types : "*.jpg;*.png;*.gif;*.jpeg",
    file_types_description : "Images",
    file_upload_limit : 20,
    file_queue_limit : 0,
    custom_settings : {
      progressTarget : "fsUploadProgress",
      cancelButtonId : "btnCancel"
    },
    debug: false,
    
    // Button settings
    button_image_url: "/img/XPButtonUploadText_61x22.png",
    button_width: "61",
    button_height: "22",
    button_placeholder_id: "spanButtonPlaceHolder",
    //button_text: '<span class="theFont">Browse</span>',
    //button_text_style: ".theFont { font-size: 16; font-family:Sans-serif, Arial; font-weight:bold;}",
    //button_text_left_padding: 12,
    //button_text_top_padding: 3,
    
    // The event handler functions are defined in handlers.js
    file_queued_handler : fileQueued,
    file_queue_error_handler : fileQueueError,
    file_dialog_complete_handler : fileDialogComplete,
    upload_start_handler : uploadStart,
    upload_progress_handler : uploadProgress,
    upload_error_handler : uploadError,
    upload_success_handler : uploadSuccess,
    upload_complete_handler : uploadComplete,
    queue_complete_handler : queueComplete	// Queue plugin event
    };
    
    swfu = new SWFUpload(settings);

  
});
</script>

</body>
</html>