{% extends base_no_map_template %}
{% load django_static thumbnail %}

{% block title %}The Wall - All Kungfu People |{% endblock %}

{% block nav_li_class_login %} class="current"{% endblock %}>

{% block extracss %}
<style type="text/css">
{% slimcontent %}

p.promo {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}
{% endslimcontent %}
</style>

{% endblock %}


{% block content %}
	<div id="main-content-area">
	<h2>the wall</h2>

	<h3>Latest new members</h3>
	{% for person in latest_five %}
	<div class="person-listing-photo">
	<a href="{{ person.get_absolute_url }}">
	<img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}{% staticfile "/img/no-photo-background-40.png" %}{% endif %}" title="{{ person.user.get_full_name }}">
	</a>
	</div>	
	{% endfor %}
	<br clear="all"/>

	<p></p>
	<h3>All other members ({{ other_people.count }})</h3>
	<div class="horizontal-photos">

	{% for person in other_people %}
	<div class="person-listing-photo">
	<a href="{{ person.get_absolute_url }}">
	<img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}{% staticfile "/img/no-photo-background-40.png" %}{% endif %}" title="{{ person.user.get_full_name }}">
	</a>
	</div>	
	{% endfor %} 
	</div>  
	</div>
	</div>

<div id="right-column">
	<h3>Recent activity</h3>

	<div class="latest-list">
	{% for thing in latest_things %}
		<div class="latest-list-item{% ifequal thing.type "Video"%}-video{% endifequal %}">
		{% ifequal thing.type "Video"%}
			<div class="latest-list-icon">
				<img width="30px" src="{{ thing.content|safe }}">
			</div> 
			<div class="latest-list-info">
				<a href="{{ thing.url }}">{{ thing.person }} linked to a new video</a><br/>
				<span class="dark-grey">{{ thing.title }}</span>
				
			</div>
		{% endifequal %}

		{% ifequal thing.type "Photo"%}
			<div class="latest-list-icon">
				<img src="{% thumbnail thing.content 30x30 crop %}">
			</div> 
			<div class="latest-list-info">
				<a href="{{ thing.url }}">{{ thing.person }} just uploaded a new photo</a>
			</div>
		{% endifequal %}

		{% ifequal thing.type "DiaryEntry"%}
			<div class="latest-list-icon">
				<img src="{% staticfile "/img/blog.png" %}">
			</div> 
			<div class="latest-list-info">
				<a href="{{ thing.url }}">{{ thing.person }} just wrote a new blog entry</a><br/>
				<span class="dark-grey">{{ thing.title }}</span>
			</div>
		{% endifequal %}
		</div>

	{% endfor %}
	</div>

</div>  

{% endblock %}
