<html>
<head>
<title>{{ PROJECT_NAME }} Newsletter</title>
<style type="text/css">
body {
	color: #000;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.2em;
}


h2 {
	font-family: Helvetica, sans-serif;
	margin: 0px 0 5px 0;
	font-size: 3em;
	font-weight: normal;
	line-height: 1em;
	color: #95CFD1;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	color: #60A8AA;
	margin-bottom: 10px;
}

a {
	color: #708e20;
        }

p.footer {
  font-size:9px;
  text-align:center;
}

</style>
</head>
<body>

{{ body_content|safe }}

</body>
</html>